.tokensale-info-article-box {
    max-height: 414px;
    border-radius: 32px;
}

.tokensale-floating-button {
    background: var(--surface-subtleoverlay, rgba(0, 0, 0, 0.03));
    background: var(--surface-subtleoverlay, color(display-p3 0 0 0 / 0.03));
    backdrop-filter: blur(12.5px);
}

.tokensale-info-article-box-image {
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 356/156;
}

.tokensale-info-article-box-button {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.article-box-content > * + div {
    margin-top: 25px;
}

.tokensale-info-table {
    > div:not(:nth-last-child(-n+3)) {
        border-bottom: 1px solid var(--border-subtle, rgba(0, 0, 0, 0.03));
    }
}

.token-sale-investors {
    @apply overflow-x-auto items-start;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
}

.desktop-layout {
    .token-sale-investors {
        @apply px-4;
    }
}

.mobile-layout {
    .token-sale-investors {
        @apply gap-0 !important;
        scroll-snap-type: x mandatory;

        > * {
            @apply px-3;
            scroll-snap-align: start;
            scroll-snap-stop: always;
        }
    }
}