.ecosystem-picker-container {
    @apply cursor-pointer flex;

    &.home-btn:active {
        transform: scale(0.97);
    }

    &:hover {
        .ecosystem-picker {
            background: var(--surface-hover, rgba(255, 255, 255, 0.05));
        }
    }

    .ecosystem-picker {
        @apply inline-flex p-2 items-center gap-2 cg-border-xl cursor-pointer;
        color: var(--text-primary);

        &.active {
            background: var(--surface-subtleactive);
        }
    }
}

.ecosystem-tooltip {
    @apply flex flex-col items-center p-4 gap-1 cg-border-xxl overflow-auto !important;
    width: 340px;
    max-height: 490px !important;
    border: 1px solid var(--border-secondary, #3C425E) !important;
    background: var(--surface-popover, #161822) !important;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 500px;
        background: rgb(146, 146, 146);
    }
}

.ecosystem-toggle {
    @apply flex p-4 gap-2 self-stretch cg-border-l cursor-pointer cg-text-lg-500;

    .arrow {
        visibility: hidden;
    }

    &:hover {
        background: var(--surface-hover);

        .arrow {
            visibility: visible;
        }
    }
}

.ios-svg-container {
    transform: translate3d(0px,0px,0px);
}

.ecosystem-icon-dark-bg {
    background: var(--colours-dark-950);
}