.community-browser-view {
    .group-browser-content  {
        @apply mx-auto w-full p-6;
        max-width: 848px;

        .front-page-section-header {
            @apply pb-6;
        }
    }
}

.community-browser-view-mobile {
    .group-browser-content  {
        @apply p-4;
    }

    .group-browser-content {
        .breadcrumbs-bar,
        .front-page-section-title,
        .cg-horizontal-swipe,
        .groupExplorer-group-container {
            @apply px-2;
        }
        
        .front-page-section-title {
            @apply pb-6;
        }

        .society-card.mobile {
            max-width: unset;
        }

        .groupExplorer-group-container  {
            &.grid-view {
                @apply grid grid-cols-2;
    
                .pr-1 {
                    @apply hidden;
                }
    
                .society-card {
                    min-width: 0;
                    max-width: 100%;
                }
            }
        }
    }
}