.user-profile-inner {
    @apply px-4 mb-4 flex flex-col gap-6 mx-auto items-center relative;
    z-index: 1;
    max-width: 800px;

    .user-profile-header {
        @apply cg-heading-3;
        color: var(--headerText);
    }

    &.desktop-tray.tray-mode {
        @apply py-4 px-8;
        width: min(600px, 80vw);
    }
}

.user-profile-content {
    z-index: 1;
    width: 100%;
    max-width: 620px;
}


.mobile-layout {
    .user-profile-inner {
        @apply px-4;
    }
}

.community-card-description {
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.user-profile-banner {
    width: min(800px, calc(100%));
    aspect-ratio: 2.5;
    background: var(--surface-subtleoverlay, rgba(0, 0, 0, 0.03));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;

    &.has-image {
        .user-profile-banner-actions {
            visibility: hidden;
        }

        &:hover {
            .user-profile-banner-actions {
                visibility: visible;
            }
        }
    }

    &.no-image {
        .user-profile-banner-actions {
            visibility: visible;
        }
    }
}

.user-profile-empty-space {
    @apply pointer-events-none;
    width: 100%;
    aspect-ratio: 3.2;
}

.tray-mode {
    .user-profile-empty-space {
        aspect-ratio: 4.2;
    }
}

.tray-btn {
    @apply py-2;
    background: var(--darkTransparent);
    color: var(--communitySidebarTitle);
}