.bookmark-button {
    @apply flex items-center justify-center p-2 cg-border-l;
    color: var(--text-secondary);
    
    &:hover {
        color: var(--text-primary);
        background: var(--surface-hover);
    }

    &.active {
        color: var(--text-primary);
    }
}