.onboarding-input-container {
    @apply flex px-4 items-center gap-2 self-stretch cg-border-l w-full;
    border: 1px solid var(--border-subtle, rgba(25, 27, 38, 0.03));
    background: var(--surface-dark-overlay, rgba(25, 27, 38, 0.03));
}

.onboarding-input {
    padding: 0px !important;
    border-radius: 0px !important;
    background: transparent !important;
    border: none !important;
}