/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Additional terms: see LICENSE-ADDITIONAL-TERMS.md */

.bot-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: default;
}

.bot-tag:hover {
  background-color: var(--cg-bg-neutral-800);
}

.bot-tag.no-bg:hover {
  background-color: transparent;
}

.bot-tag-info {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  min-width: 0;
  overflow: hidden;
}

.bot-tag-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

