.wallets-management {
  @apply flex flex-col items-start self-stretch py-4 gap-4 flex-none order-1 flex-grow;

  > .wallets-management-title {
    @apply flex flex-col items-start self-stretch p-0 gap-2 flex-none order-none flex-grow-0;

    h3 {
      @apply flex items-center flex-none order-none flex-grow-0 cg-heading-2;
      color: var(--headerText);
    }

    > .subtitle {
      @apply flex items-center flex-none order-1 flex-grow-0 mb-6;

      font-size: 16px;
      line-height: 24px;

      color: var(--cardTextSecondary);
    }
  }

  > .wallets-management-added-wallets-and-identities {
    @apply w-full flex flex-col items-start p-0 gap-4 flex-none order-1 flex-grow-0;
  }

  .wallet-settings-section {
    @apply w-full flex flex-col items-start p-4 gap-2 flex-none flex-grow-0;
    border-radius: 12px;

    .wallet-settings-section-title {
      @apply flex flex-row justify-start items-center self-stretch p-0 gap-2 flex-none flex-grow-0;

      h3 {
        @apply text-center cg-heading-2;
        color: var(--headerText);
      }

      .tag {
        @apply self-end ml-auto;
      }
    }
  }
}

.metamask-row-container {
  @apply w-full;
  background-color: var(--cardBg);
  border: 1px solid var(--cardBorder);
  border-radius: 12px;

  .wallet-settings-full-row {
    background-color: transparent;
    border: none;
  }
}

.wallet-settings-full-row {
  @apply flex items-center gap-4 py-2.5 px-4 w-full cg-text-lg-500 cg-border-xl;
  background-color: var(--cardBg);
  border: 1px solid var(--cardBorder);
  color: var(--cardTextMain);

  .grey-text-column {
    @apply cg-text-md-500;
    color: var(--cardTextSecondary);
  }
}