.date-time-field {
    @apply cg-border-xl !important;
    background: var(--surface-subtleoverlay) !important;
    border: 1px solid var(--border-secondary, #3C425E) !important;
    color: var(--text-primary) !important;

    &:hover {
        background: var(--surface-hover);
    }
}

.dark {
    .date-time-field {
        color-scheme: dark;
    }
}

.date-time-hidden-input {
    @apply w-0 p-0;
    border: none;
    visibility: hidden;
}