.setup-profile-fields {
    @apply grid grid-flow-row p-4 gap-4 cg-border-xxl w-full cg-box-shadow-lg;
    color: var(--cardTextMain);
    border: 1px solid var(--border-secondary, #3C425E);
}

.setup-profile-twitter-name {
    @apply grid grid-flow-col py-2 px-4 items-center cg-border-l;
    border: 1px solid var(--border-secondary);
    background: var(--surface-background-3rd);
}

.setup-profile-lukso-name {
    @apply grid grid-flow-col py-2 px-4 items-center cg-border-l;
    border: 1px solid var(--border-secondary);
    background: var(--surface-background-3rd);
}

.setup-profile-twitter-photo-icon {
    @apply absolute right-0 bottom-0 grid grid-flow-col items-center justify-center p-2;
    border-radius: 500px;
    background: black;
    color: white;
}

.splash-create-profile-profile {
    @apply grid grid-flow-row gap-2 w-full p-6 cg-border-l;
    border: 1px solid var(--border-secondary);
    background-color: var(--surface-background-2nd);
}