.tag-input-field {
  @apply flex flex-col gap-2;
}

.tag-input-container {
    @apply relative;

    .pre-icon {
      @apply flex items-center absolute mt-2 pl-3;
      top: 0;
      bottom: 0; 
      font-size: 16px;
      height: 25px;
    }

    .input {
      @apply pl-7;
    }

    .pre-icon.error {
      @apply mt-auto;
    }
}

.add-tag {
    font-size: 16px;
    font-weight: 400;

    > .add-tag-preview {
      @apply inline-block;
    }

    > svg {
      @apply inline-block ml-2 cursor-pointer;
    }
}

.cohorts-scroll-container {
  @apply overflow-x-auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .cohorts-container {
    @apply flex gap-2 flex-wrap;
    
    .active {
      @apply cursor-pointer;
    }
  }
}

.mobile-layout {
  .cohorts-container {
    width: 1320px;
  }
}

.tag-suggestion-active {
  background-color: var(--surface-input-hover);
}

.tag-suggestion-hoverable {
  &:hover {
    background-color: var(--surface-input-hover);
  }
}