.ai-assistant {
    @apply mx-auto h-full;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-column: dialog-start / dialog-end;
    grid-row: start / end;
}

.ai-assistant-header {
    @apply justify-between shrink-0;
    background-color: var(--surface-background-2nd);
}

.desktop-layout {
    .ai-assistant {
        @apply pt-4 pb-4;
    }

    .ai-assistant-header {
        @apply flex flex-row gap-2 items-center px-4 py-2 justify-between;
        width: calc(100% - 2rem);
        max-width: min(800px, 100vw);
        overflow: hidden;
        margin: 0 auto;
        border-radius: 12px;
        border: 1px solid var(--cardBorder);
        min-height: 4rem;

        .ai-assistant-header-model {
            @apply flex flex-row gap-1 items-center;
        }
    }
}

.mobile-layout {
    .ai-assistant {
        @apply pt-0 pb-0;
    }
    
    .ai-assistant-header {
        @apply flex flex-row gap-2 items-end p-4;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        border-bottom: 1px solid var(--cardBorder);

        .ai-assistant-header-model {
            @apply flex flex-col gap-1 items-start;
        }
    }
}

.mobile-layout {
    .ai-assistant-messages {
        @apply mx-4;
        width: calc(100% - 2rem);
    }

    .ai-assistant-input {
        @apply mx-4 pb-2;
        width: calc(100% - 2rem);
    }
}

.desktop-layout {
    .ai-assistant-messages {
        width: calc(100% - 2rem);
    }

    .ai-assistant-input {
        width: calc(100% - 2rem);
    }
}

.ai-assistant-messages {
    @apply flex flex-col gap-4 flex-grow py-2;
    overflow-y: scroll;
    word-break: break-word;
    max-width: min(800px, 100vw);
    margin: 0 auto;

    .ai-assistant-messages-loading {
        @apply flex flex-col gap-4 flex-grow py-2;

        .spinner {
            @apply mx-auto;
        }
    }

    .ai-assistant-messages-assistant {
        margin-left: 1px;
        max-width: 80%;
        align-self: flex-start;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--surface-background-2nd);
        color: var(--text-primary);

        ol {
            list-style-type: decimal;
            padding-left: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        li {
            margin-bottom: 10px;
        }

        .assistant-tool-use {
            @apply text-sm;
            color: var(--text-primary);
            text-wrap: auto;
        }
    }

    .ai-assistant-messages-user {
        margin-right: 1px;
        max-width: 80%;
        align-self: flex-end;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--surface-own-message);
        color: var(--text-primary);
    }

    .ai-assistant-queue-data {
        @apply bg-gray-200 rounded-md border border-gray-500 p-1 text-sm;

        .ai-assistant-queue-data-item {
            @apply flex flex-row gap-1;
        }
    }
}

.ai-assistant-input {
    @apply flex gap-2 basis-16 flex-shrink-0 relative;
    max-width: min(800px, 100vw);
    margin: 0 auto;

    textarea {
        @apply flex-grow;
        width: 100%;
    }

    input {
        @apply flex-grow;
    }

    .ai-assistant-input-textarea {
        padding-right: 76px;
        min-height: 64px;
        cursor: text;
        resize: none;
        background: var(--chatInputBg);
        border: 1px solid var(--chatInputBorder);
        border-radius: 6px;
        color: var(--text-primary);
    }
}

.ai-assistant-input-button {
    padding: 4px 8px;
    font-size: 13px;
    line-height: 18px;
    position: absolute;
    right: 8px;
    bottom: 16px;
}

.light {
    .ai-assistant-messages-assistant {
        @apply cg-box-shadow-sm;
    }

    .ai-assistant-messages-user {
        @apply cg-box-shadow-sm;
    }
}