

.keyphrase-login {
    @apply grid grid-cols-1 p-0 gap-16 h-full;
    color: var(--cardTextMain);

    .logo {
        margin: 15px;
        width: 75px;
        height: 70px;
    }

    .mnemonic-container {
        @apply w-full grid gap-1 px-4;
        word-wrap: break-word;

        &.desktop {
            @apply grid-cols-3;
        }

        &.mobile {
            @apply grid-cols-2;
        }
    
        .key-string-container {
            @apply flex flex-row items-start p-2 gap-2 flex-none order-none flex-grow;
            background: var(--inputBg);
            border-radius: 6px;
    
            .key-string-inner {
                @apply flex items-center justify-start;
    
                .key-string-number {
                    @apply cg-text-lg-500;
                    font-style: normal;
                    color: var(--inputText);
                    width: 22px;
                }

                .key-string-input {
                    @apply p-0;

                    text-transform: lowercase;
                    background: transparent;
                    border: none;
                    max-width: 96px;
                    line-height: 16px;
                    font-weight: 500;

                    color: var(--inputText);
                }
                .key-string-input:focus {
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }
}
