.message-body-truncated {
  overflow: hidden;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.link-preview-container {
  @apply flex flex-col pt-1 gap-2 w-full;

  .society-card {
    width: fit-content;
  }
}

.message-body-mention {
  @apply cursor-pointer inline-block text-left cg-text-lg-500;
  color: var(--messageMention);
  padding: 2px;
  border-radius: 4px;
  background-color: var(--surface-buttons-secondary);
}

.message-body-bot-mention {
  @apply inline-flex items-center gap-1;
}

.own-message {
  .message-body-mention {
    background-color: var(--surface-buttons-secondary-hover);
  }  
}

.media-content-image {
  @apply flex flex-col items-center justify-center;
  margin: auto;

  img {
    border-radius: 6px;
    background: var(--imageBg);
    width: 100%;
  }

  span {
    color: var(--cardTextSecondary);
    font-size: 15px;
    line-height: 20px;
  }
}

.media-content-image.large {
  width: 100%;
}

.media-content-image.medium {
  width: 75%;
}

.media-content-image.small {
  width: 50%;
}

.font-large {
  font-size: 50px;
}

.font-medium {
  font-size: 30px;
}

/**/

.mediaEmbedVideoContainer {
  width: 100%;
  margin: auto;

  .mediaEmbedVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.mediaEmbedVideoContainer.large {
  width: 100%;
}

.mediaEmbedVideoContainer.medium {
  width: 75%;
}

.mediaEmbedVideoContainer.small {
  width: 50%;
}