.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;

    height: var(--visualHeight);
    min-height: var(--visualHeight);
    max-height: var(--visualHeight);
    
    z-index: -10;
    background-color: var(--surface-global-background);
    background-repeat: repeat;
    background-blend-mode: color;
}
  
.layout.tablet-layout {
    grid-template-columns: [start menu-start] 80px [menu-end content-start] minmax(0, calc(theme('screens.xl') - 80px)) [content-end end];
    grid-template-rows: [start menu-start content-start] minmax(0, 100vh) [menu-end content-end end];
  
    > .menu, .menu-expanded {
      grid-column: menu-start / menu-end;
      grid-row: menu-start / menu-end;
    }
  
    > .content {
      grid-column: content-start / content-end;
      grid-row: content-start / content-end;
    }
}