.cg-text-twitter-grey {
    color: #6C767E;
}

.cg-twitter-tweet {
    background-color: black;
}

.cg-twitter-preview {
    background: var(--colours-brand-500);
    border-radius: 20px;
}

.cg-twitter-preview-span {
    display: inline-flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    backdrop-filter: blur(6.4px);
    background: rgba(255, 255, 255, 0.10);
}

.cg-twitter-img {
    height: 40px;
    width: 40px;
    border-radius: 500px;
}