.whats-new-modal-card {
    @apply flex flex-col p-2 gap-2 cg-border-l;
    background: var(--cardBg);
    border: solid 1px var(--cardBorder);
    display: flex;
}

.mobile-layout {
    .whats-new-modal-card {
        @apply p-4 mx-4;
    }
}

.whats-new-modal {
    overflow: hidden;
    border-radius: 16px;

    .modal-content {
        padding: 0px;
    }
}