.ecosystem-home-header {
    &:not(.collapsed) {
        .ecosystem-home-header-collapse-btn {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    &.collapsed {
        .ecosystem-home-header-img-bg {
            height: 56px;
        }

        .ecosystem-home-header-title {
            position: absolute;
            inset: 0;
        }
    }
}

.ecosystem-home-header-container {
    transition: all 200ms ease-in-out;
}

.ecosystem-home-header-img-bg {
    pointer-events: none;
    height: 108px;
    overflow: hidden;

    >* {
        height: 150% !important;
        width: 120% !important;
        transform: scale(600%);
        filter: blur(50px);
    }
}

.ecosystem-home-header-img-main {
    @apply flex justify-center;
    pointer-events: none;
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    top: 54px;

    >* {
        height: 100px !important;
        width: 100px !important;
    }
}

.ecosystem-home-empty-communities-img {
    height: 160px;
    width: 140px;
    background-image: url('./emptyState.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 500px 500px 0 0;
    border: 2px solid var(--border-brand, #009EE0);
}

.ecosystem-home-placeholder {
    background: var(--imageBg);
}

.desktop-layout {
    .ecosystem-home-header-container {
        @apply cg-border-xxl;
    }
}

.mobile-layout {
    .ecosystem-home-header-img-main {
        top: 4px;
    }
}