.token-gated-tag {
    @apply flex flex-row justify-center items-center gap-1 flex-none order-1 flex-grow-0;
    padding: 2px 6px;
    border-radius: 8px;

    .btnText {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
    }

    &:hover,
    &:active {
        background: var(--transparent);
    }
}