.call-header {
    @apply p-2;
    background: var(--surface-background-2nd);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    &.standalone {
        @apply w-full cg-border-l;
        border: 1px solid var(--border-secondary, #3C425E);
    }

    .call-info {
        @apply text-lg;
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--cardTextMain);

        .call-name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
        }
    }

    .call-members {
        padding: 6px 0px;
    }
}