.community-skeleton-card-container {
    @apply flex flex-col items-center rounded-md;
    background: var(--transparent);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
    overflow: hidden;

    border-radius: 12px;
    height: 92px;

    .skeleton-box {
        display: inline-block;
        position: relative;
        overflow: hidden;
        background-color: #DDDBDD;
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient( 90deg, rgba(64, 64, 64, 0) 0, rgba(64, 64, 64, 0.2) 20%, rgba(64, 64, 64, 0.5) 60%, rgba(64, 64, 64, 0) );
            animation: shimmer 2s infinite;
            -webkit-animation: shimmer 2s infinite;
            content: '';
        }
        
        @keyframes shimmer {
            100% {
            transform: translateX(100%);
            }
        }
    }

    .community-photo-container {
        @apply inline-block w-full h-full;
        background: var(--imageBg);
    }
}