.end-section {
    .end-image {
      @apply mx-auto mt-20;
    }

    p.end-section-text {
      @apply my-9;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: var(--cardTextMain);
    }
}