.mobile-layout {
    .login-way-selector {
        @apply mx-0;
    }
}

.login-way-selector {
    @apply mt-24 mx-8 flex flex-col items-start self-stretch p-0 gap-2 flex-none order-1 flex-grow;

    .wallet-selector {
        @apply flex flex-col items-center self-stretch p-0 gap-1 flex-none order-none flex-grow-0;
    }

    .login-username-field {
        @apply mt-10 flex flex-col items-start self-stretch p-0 gap-2 flex-none order-1 flex-grow-0;
    }

    .login-with-keyphrase-link {
        @apply flex flex-row items-center p-0 gap-1 flex-wrap flex-none order-none flex-grow-0 cg-text-lg-500;
        color: var(--cardTextMain);

        > .message-link-container {
            @apply cursor-pointer;
            text-decoration: underline;
            color: var(--linkColor);
        }
    }
}