.community-photo {
  @apply relative;
  background: var(--imageBg);
  margin: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.medium {
    width: 75px;
    height: 75px;
    border-radius: 10px;
  }

  &.large {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  &.small {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  
  &.small-32 {
    width: 32px;
    height: 32px;
    border-radius: 6px;
  }

  &.tiny {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  &.tiny-20 {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  &:not(.noHover):hover {
    outline: solid 2px var(--logoMenuItemHoverBorder);
  }

  &:not(.noHover):active, &:not(.noHover).active {
    outline: solid 2px var(--surface-inverted);
  }

  &.noHover {
    margin: 0;
  }
}

.community-photo-official-icon {
  border-radius: 500px;
  background: var(--surface-global-background);
}