.user-widget-container {
  @apply flex flex-col gap-3 cursor-pointer;
  color: var(--sidebarText);
  background: var(--audioWidgetBg);
  transition: all 100ms ease-in-out;

  &:hover {
    background: var(--audioWidgetHoverBg);
  }

  &.call-active {
    @apply cg-border-xl p-3;
    --btnAudioText: var(--btnPrimaryText);
    color: var(--btnPrimaryText);
    background: var(--btnPrimaryBg);

    .user-widget-content {
      @apply p-0;
    }

    .user-widget-content-bg {
      background: none !important;
    }
  }
}

.user-widget {
  @apply flex flex-row items-center gap-2;

  .username {
    font-weight: 500;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.user-widget-content-bg {
  @apply w-full absolute inset-0;
  background: var(--imageBg);
  opacity: 0.3;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-widget-content {
  @apply flex items-center gap-2 w-full justify-center p-2;
  height: 64px;
  color: var(--text-primary);
  backdrop-filter: blur(12.5px);
}

.standalone-widget {
  @apply cg-border-l;
  overflow: hidden;
  border: 1px solid var(--border-subtle, rgba(212, 213, 216, 0.03));
}

.user-widget-call-mode {
  .user-widget-content {
    color: var(--text-full-white);
    backdrop-filter: none;
  }
}

.user-widget-tooltip {
  padding: 0;
}
