.audio-manager-buttons {
  @apply flex flex-col-reverse items-center justify-between m-0 gap-1 w-full;
  color: var(--cardTextMain);

  >.audio-waves-animation {
    @apply flex mx-1;
  }
}

.desktop-layout {
  .audio-manager-buttons {
    @apply flex flex-row;
  }
}

.mobile-voice-call-manager .audio-manager-buttons {
  @apply h-auto w-auto m-0 flex-row flex-grow-0 flex-shrink-0 basis-auto gap-1;
}

.audio-waves-animation {
  @apply flex;
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
}