.collapsable-top-bar-layout {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  
    display: grid;
    grid-template-rows: [start top-bar-start] auto [top-bottom-border] auto [bottom-end end];
    grid-template-columns: [start column-start] auto [column-end end];
    transition: height 300ms, min-height 300ms, max-height 300ms;
  
  
    .collapsable-top-bar-layout-top {
      z-index: 10;
      grid-row: top-bar-start / top-bottom-border;
      grid-column: column-start / column-end;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
  
      transform: translateY(-100%);
      transition-property: transform;
      transition-duration: 225ms;
      transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    }
  
    .collapsable-top-bar-layout-bottom {
      grid-row: top-bar-start / bottom-end;
      grid-column: column-start / column-end;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      transition: height 300ms, min-height 300ms, max-height 300ms;
    }
  
    &.with-top-bar {
      .collapsable-top-bar-layout-top {
        transform: translateY(0);
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
  }