.message-field, .content-input {
  @apply relative flex flex-col px-2 py-2 gap-2;
  min-height: 3rem;
  color: var(--inputText);
  /* min-h-12 */

  .message-field-input-container {
    @apply flex flex-col h-full cursor-text;

    .cg-scrollable {
      @apply overflow-auto;
    }

    .message-field-input {
      @apply px-2 py-1;
      &:focus-visible {
        outline: none;
      }
    }

    .message-field-input-controls {
      @apply flex;
    }
  }

  .message-field-mentions-box {
    @apply p-2 gap-2;
    min-width: 200px;
    background-color: var(--dropdownBg);
    border: solid 1px var(--dropdownBorder);
    border-radius: 6px;
    position: fixed;
    color: var(--dropdownPrimaryText);
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .message-field-control {
    @apply flex items-center justify-center p-1 self-center cursor-pointer;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    --iconPrimary: var(--text-secondary);
    color: var(--text-secondary);

    &.resize-svg svg {
      width: 21px;
      height: 21px;
    }

    &:hover {
      background: var(--surface-hover);
      --iconPrimary: var(--text-primary);
    }

    .message-field-attachment-button {
      @apply flex items-center justify-center;
      border-radius: 500px;

      >svg {
        width: 26px;
        height: 26px;
      }
    }

    .message-field-emoji-button {
      @apply block;
    }

    &.selected {
      background: var(--btnSecondaryActiveBg);

      .message-field-control-icon {
        --iconPrimary: var(--btnSecondaryText);
        color: var(--btnSecondaryText);
      }
    }
  }

  .send-button-container {
    @apply flex gap-2;
    margin-left: auto;
  
    .send-button {
      padding: 4px 8px;
      font-size: 13px;
      line-height: 18px;
    }
  }

  .mention-editable {
    @apply cg-text-lg-500;
    color: var(--messageMention);
    padding: 2px;
    border-radius: 4px;
    background-color: var(--transparent);
  }

  .mediaAttachmentContainer {
    @apply flex flex-wrap gap-2;
  }
}

.message-field-mentions-box {
  @apply p-2 gap-2 overflow-hidden;
  height: 18.5rem;
  min-width: 200px;
  background-color: var(--surface-background-2nd);
  border: solid 1px var(--cardBorder);
  border-radius: 6px;
  color: var(--cardTextMain);
  flex-direction: column;
  cursor: pointer;
}

.message-field-drop-tip {
  @apply absolute h-full w-full flex items-center justify-center gap-2 cg-text-lg-500;
  left: 0;
  top: 0;
  z-index: 50;
  border-radius: 6px;

  animation-name: popin;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;

  color: var(--chatInputButton);
  background: var(--brandTransparent);
  --iconPrimary: var(--chatInputButton);
  border: 2px dashed var(--chatInputButton);
}

.text-ticker,
.text-tag,
.text-link {
  color: var(--linkColor);
}

.text-link {
  @apply underline;
}

.text-rich-link {
  div {
    display: inline;
  }
}

.editorNewMediaButton {
  @apply flex items-center justify-center absolute p-0.5;
  transition: opacity 0.1s ease-in-out;
  grid-column: media-button-start / media-button-end;
  grid-row: start / end;
}

.tooltip.tooltip-url-preview {
  @apply py-3 px-4 cg-text-lg-500;
  max-width: 40%;
}

.attachmentErrorContainer {
  @apply flex;
  
  animation-name: popin;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.attachmentErrorContainer.hiding {
  animation-name: popout;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes popin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes popout {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.desktop-layout {
  .editorNewMediaButton {
    left: -45px;
  }

  .message-field-input {
    max-height: 15vh;
  }
}

.mobile-layout {
  .editorNewMediaButton {
    z-index: 90;
    right: 10px;
  }
  .message-field {
    @apply py-4;

    .message-field-input-container {
      max-height: 40vh;
    }
  
    &.message-field-expanded {
      @apply py-2;
    }
  }
}