.article-card-v3.collapsed {
    @apply flex-col;

    .article-card-v3-image {
        width: 100%;
        height: unset;
        aspect-ratio: 16/9;
    }

    .article-card-v3-description {
        -webkit-line-clamp: 2;
    }

    .article-card-v3-footer {
        @apply flex-col;
        > * {
            @apply w-full;
        }
    }
}

.article-card-v3-image {
    @apply cg-border-l;
    box-sizing: content-box;
    width: 160px;
    height: 90px;
    object-fit: cover;

    &.no-image {
        @apply flex items-center justify-center;
        background: var(--surface-background-2nd, #222432);
    }
}

.article-card-v3-description {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.article-card-v3 {
    transition: all 100ms;
    &:active {
        transform: scale(0.98);
        opacity: 0.7;
    }
}
