.live-call-card {
    @apply w-full flex flex-col justify-start items-start p-4 gap-4 flex-none order-none flex-grow-0 cursor-pointer h-full;
    border: 1px solid var(--cardBorder);
    background: var(--surface-background-2nd);
    border-radius: 12px;
    transition: box-shadow 100ms, color 100ms, opacity 100ms;

    &.mobile {
        min-width: 220px;
        max-width: 220px;
    }

    &:active {
        transform: scale(0.97);
    }
}
