.fullscreen-wizard-modal {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0;
    margin: 0;
    
    .modal-content {
        @apply pt-0 px-0;
        display: flex;
        max-height: 100vh;
    }
}

.fullscreen-wizard-step {
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 1fr auto;

    .cg-scrollable {
        overflow: hidden !important;

        .cg-scrollable-content {
            @apply pt-6 px-4;
        }
    }

    > *:nth-child(2) {
        @apply px-4 pb-4;
    }
}

.fullscreen-wizard-content {
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    margin: auto;

    &.wizard-large-padding {
        .fullscreen-wizard-step {
            .cg-scrollable {
                .cg-scrollable-content {
                    @apply pt-6 px-8;
                }
            }

            > *:nth-child(2) {
                @apply px-8 pb-8;
            }
        }
    }
}

.wizard-quote-symbol {
    font-size: 100px;
    line-height: 20px;
    margin-top: 60px;
}

.cg-text-wizard-reddish {
    color: #F24822
}

.wizard-third-width {
    width: 33.333333%;
}

.wizard-max-wizard-420 {
    max-width: 420px;
}

.wizard-text-active-reddish {
    --text-active: #F24822;
}
