.bots-management-desktop {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.bots-management-desktop-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 16px;
}

.bots-management-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

