.entry-field-content {
    @apply flex py-2 px-4 items-center gap-2 self-stretch cg-border-l w-full;
    border: 1px solid var(--border-subtle, rgba(25, 27, 38, 0.03));
    background: var(--surface-dark-overlay, rgba(25, 27, 38, 0.03));
}

.multi-entry-field-container.dragging-over {
    background: theme('colors.palette.transparent');
}

.multi-entry-text-input {
    padding: 0px !important;
    border-radius: 0px !important;
    background: transparent !important;
    border: none !important;
}