.community-settings {
  @apply w-full flex flex-col items-start gap-8 py-6 px-8;

  > div {
    @apply w-full flex flex-col items-start p-0;

    .list-item {
      @apply w-full;
    }
  }
}

.mobile-tray-container {
  .dropdown-item {
    background-color: transparent;
  }
}