.input-toast {
    @apply px-4 gap-2 flex items-center cg-text-md-500 w-fit;
    right: 6px;
    z-index: 10;

    color: var(--cardTextMain);
    background: var(--surface-background-2nd);
    border-radius: 500px;
}

.input-toast-error {
    color: var(--errorColor);
}

.input-toast-success {
    color: var(--successColor);
}