.cta-content {
    @apply mt-6;
  
    .back-button {
      @apply flex items-center mx-auto;
      color: var(--cardTextMain);
  
      > svg {
        @apply mr-3;
      }
    }
  
    .banner {
        @apply mt-20 mx-auto;
        max-width: 600px;
        width: 100%;
        height: 295px;
        background-image: url('../../static/hero-full.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        background-color: var(--surface-background-2nd);
    }
    
  
    .title {
      @apply mt-10 mb-20;
  
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: var(--cardTextMain);
    }
  
    p {
      @apply mb-7 mx-auto;
      width: 620px;
      font-size: 20px;
      line-height: 150%;
      color: var(--cardTextMain);
    }
}