.horizontal-card-slider {
    @apply w-full flex flex-col gap-4;

    > .slider-title-button-container {
        @apply flex justify-between items-center;

        > .slider-title-container {
            @apply flex flex-row items-end self-stretch p-0 gap-2 flex-none order-none flex-grow-0;
            font-size: 20px;
            line-height: 24px;
        }

        > .slider-button-controls {
            @apply flex gap-2;

            .rotatedArrow {
                transform: rotate(180deg);
            }

            > * {
                @apply p-1;
            }
        }
    }

    > .cards-container {
        &.scrollbar {
            @apply flex overflow-x-auto gap-2;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none;
            scrollbar-width: none;
            
            > * {
                scroll-snap-align: start;
                scroll-snap-stop: always;
            }

            &::-webkit-scrollbar {
                display: none;  /* Safari and Chrome */
            }

            &.desktop {
                > * {
                    min-width: calc((100% - 2rem) * (1/5));
                    max-width: calc((100% - 2rem) * (1/5));
                }
            }

            &.tablet {
                > * {
                    min-width: calc((100% - 1rem) * (1/3));
                    max-width: calc((100% - 1rem) * (1/3));
                }
            }

            &.smallTablet {
                > * {
                    min-width: calc((100% - 0.5rem) * (1/2));
                    max-width: calc((100% - 0.5rem) * (1/2));
                }
            }

            &.mobile {
                > * {
                    min-width: 220px;
                    max-width: 220px;
                }
            }
        }
    }

    > .cta-buttons {
        @apply flex justify-center p-4 gap-2;
        
        > * {
            @apply cg-text-lg-500;
        }
    
        .btnSecondary {
            border: solid 1px;
        }
    }
}