.create-account {
    @apply flex flex-col p-0 gap-16 h-full;
    color: var(--cardTextMain);

    .logo {
        margin: 15px;
        width: 75px;
        height: 70px;
    }
}

.user-onboarding-footer {
    > .account-footer-login-link {
        @apply flex flex-row items-center p-0 gap-1 flex-none order-none flex-grow-0 cg-text-lg-500;
        color: var(--cardText);

        > .message-link-container {
            @apply cursor-pointer;
            text-decoration: underline;
            color: var(--linkColor);
        }
    }
}
