.community-upgrades-title {
    font-size: 1.25rem;
    font-weight: 500;
    height: 2rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.community-upgrades-container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    width: 100%;
    overflow-x: auto;
}

.community-upgrades-labels-column {
    @apply flex flex-col py-2 pl-4 pr-12 flex-none;
    font-size: 0.875rem;
}

.community-upgrades-tier-container {
    min-width: 160px;
    max-width: 160px;
    flex: 1;
    border-left: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;

    &.community-tier-selected {
        background-color: var(--surface-subtleactive);
    }
}

.community-upgrades-values, .community-upgrades-labels {
    display: grid;
    grid-template-rows: repeat(12, minmax(24px, auto));
}

.confirm-buy-tier-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface-subtleactive);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-buy-tier-overlay-content {
    @apply px-8 py-6;
    width: 100%;
    max-width: min(300px, 100vw);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--surface-popover);
    border-radius: 0.75rem;
}