.notificationMessage {
    @apply flex flex-col px-2 py-3 gap-1 items-start cursor-pointer cg-border-l;

    .unknown-subject {
        color: var(--errorColor);
    }
    
    .notificationMessageType {
        @apply gap-1 py-1 cg-text-md-500;
        color: var(--notificationMessageType);
    }

    .notificationMessageTitle {
        @apply w-full flex justify-between items-center gap-2;
        color: var(--notificationMessageTitle);
        
        > div {
            @apply flex items-center gap-1;
        }

        > span {
            @apply cg-text-sm-500;
        }

        .notificationMessageSubject {
            @apply flex items-center gap-2 cg-text-md-500 overflow-hidden;
            
            .notificationMessageSubjectName {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }

    .notificationMessageText {        
        @apply w-full cg-text-lg-500;
        color: var(--notificationMessageText);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &.no-clamp {
            display: unset;
        }
    }

    .notificationMessageExtra {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        
        color: var(--notificationMessageType);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.notificationMessage.read {
    opacity: 0.6;

    .notificationMessageText {        
        @apply w-full cg-text-lg-400;
    }
}

.notificationMessage.selected, .notificationMessage:hover {
    background: var(--notificationMessageBgHover);
    opacity: 1;
}

.notificationMessage.selected {
    background: var(--notificationMessageBgSelected);

    --notificationMessageTitle: var(--cardSelectedText);
    --notificationMessageText: var(--cardSelectedText);
    --notificationMessageType: var(--cardSelectedTextSecondary);
    --iconPrimary: var(--cardSelectedText);
}