.audio-widget {
  @apply flex flex-col-reverse items-center;
  background-color: var(--audioActiveBg);
  box-shadow: 0 0 0 2px var(--audioActiveBorder);
  border: 2px solid transparent;
  border-radius: 500px;

  .audio-waves-animation {
    @apply flex mt-3 mb-2;
    width: 20px;
    max-width: 20px;
    height: 20px;
    max-height: 20px;

    >svg {
      width: 100%;
      height: 100%;
    }
  }

  button {
    &.btnAudio {
      @apply w-8 h-8 p-0;
    }

    &.btnProfile {
      @apply relative;

      >.btnIconLeft {
        @apply relative;

        .muted-mic-icon {
          @apply block absolute;
          top: -0.5rem;
          right: -0.125rem;
          padding: 0.125rem;
          background-color: var(--surface-background-2nd);
          backdrop-filter: blur(50px);
          border-radius: 500px;
          z-index: 10;

          --iconPrimary: var(--errorColor);
        }
      }

      &.muted {
        border-color: var(--btnAudioIconLeftComplementary) !important;
      }
    }
  }

  &.inactive {
    background-color: var(--audioInactiveBg);
    border-color: var(--audioInactiveBorder)
  }
}

.mobile-layout {
  .audio-widget {
    @apply flex-row;

    border: none;
    box-shadow: none;

    >button.btnProfile {
      >.btnIconLeft {
        @apply relative;
        box-shadow: 0 0 0 2px var(--audioActiveBorder);

        .muted-mic-icon {
          right: -0.375rem;
        }
      }

      &.muted {
        border-color: transparent !important;

        >.btnIconLeft {
          box-shadow: 0 0 0 2px var(--btnAudioIconLeftComplementary);
        }
      }
    }
  }

  button.btnProfile {
    justify-content: flex-start;
    padding-top: 8px;
    --btnBorderlessText: var(--btnMenuText);

    >.btnIconLeft {
      border: 1px solid transparent;
      border-radius: 500px;
      margin: 1px;
    }

    .jdenticon {
      @apply w-6 h-6;
    }
  }

  .audio-waves-icon {
    @apply mt-0 mr-4;
  }
}

.audio-widget-desktop-container {
  @apply flex flex-col cg-border-xxl overflow-hidden;
  transition: all 100ms ease-in-out;
  background: var(--surface-background-2nd);

  &:not(.collapsed) {
    @apply w-full;
  }

  &.collapsed {
    .audio-manager-buttons {
      @apply flex-col;
    }
  }

  &:hover {
    border-color: var(--border-secondary-hover);
  }
}

.audio-widget-mobile {
  .react-modal-sheet-container {
    >div {
      background: var(--surface-background-2nd) !important;
    }
  }
}