.call-peers-container {
    @apply flex flex-col items-center flex-1 overflow-hidden self-stretch;
    
    video {
        max-height: 100%;
        max-width: 100%;
    }

    .call-peers-active-speaker {
        @apply flex self-stretch gap-2 p-1;
        
        .call-peer-card {
            border-radius: 24px;

            .call-card-avatar {
                @apply flex w-24 h-24;
            }

            .blur {
                border-radius: 24px;
            }
        }
    }

    .call-peers-other-peers {
        @apply p-1;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        /* Track */
        &::-webkit-scrollbar-track {
            background: var(--border-border-secondary, #383C53);
            border-radius: 53px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 53px;
            background: var(--surface-surface-brand, #404BBB);
        }

        .dropdown-options-trigger{
            width: auto;
        }

        .call-peer-card {
            @apply cg-border-xl overflow-hidden;

            .video-call-card {
                video {
                    height: auto;
                    width: 100%;
                }
            }

            .call-card-avatar {
                @apply flex w-12 h-12;
            }
        }
    }
}

.desktop-layout {
    .call-peers-other-peers {
        display: grid;
        width: 100%;
        gap: 8px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: min-content;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
    }

    .call-peer-card {
        width: 100%;
    }
}

.mobile-layout, .tablet-layout {
    .call-peers-active-speaker {
        
        .call-peer-card {
            width: 100%;
        }
    }

    .call-peers-other-peers {
        @apply w-full;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        flex-wrap: nowrap;
        overflow-x: auto;
        
        &::-webkit-scrollbar {
            height: 4px;
        }
    }

    .call-peer-card {
        width: 140px;
        flex: 0 0 auto;
    }
}
