.channel-item {
    @apply flex flex-col;

    .channel-item-inner {
        @apply flex-shrink-0 flex-grow p-2 pl-0 flex items-center cursor-pointer cg-text-lg-500 cg-border-m;
        color: var(--cardTextMain);
        transition: background 300ms ease-out;

        .drag-handle-icon {
            @apply pl-4 pr-3 cursor-pointer;
            color: var(--cardTextSecondary);
            transition: all 300ms ease-out;
        }

        .channel-item-text {
            @apply mr-1 ml-3;
            line-height: 22px;
            color: var(--cardTextMain);
            font-weight: 400;
        }

        &:hover {
            background: var(--cardBgHover);

            .drag-handle-icon {
                color: var(--cardTextMain);
            }

            .channel-item-text {
                color: var(--cardTextMain);
            }
        }
    }
}

.channel-item.dragging {
    .channel-item-inner {
        background: var(--transparent);
    }
}