.user-profile-photo-with-blurred-background {
  @apply flex items-center flex-none flex-grow-0 order-none relative overflow-hidden;
  height: 150px;

  > .blurred-background {
    @apply absolute top-0 left-0 w-full;

    filter: blur(50px);
    opacity: 0.6;
    height: 150px;

    > div {
      @apply h-full;

      .jdenticon {
        @apply w-full h-full;
        border-radius: 0px;

        & > svg {
          @apply h-full;
        }
      }
    }
  }

  > .user-photo {
    @apply relative mx-auto;
    width: 100px;
    height: 100px;

    .jdenticon {
      width: 100px;
      height: 100px;

      > svg {
        width: 100px;
        height: 100px;
      }
    }

    &.edit-mode {
      @apply cursor-pointer;
      .plus-icon {
        @apply flex invisible absolute opacity-0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.1s ease-out;
      }

      &:hover {
        .jdenticon {
          opacity: 0.5;
        }
  
        .plus-icon {
          @apply flex visible opacity-100;
          transition: all 0.1s ease-in;
        }
      }
    }
  }
}