.cg-scrollable {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.cg-scrollable-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-color: transparent;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.cg-scrollable-content::-webkit-scrollbar {
  display: none;
}

.cg-scrollbar-body {
  position: absolute;
  right: 0;
  top: 0;
  background-color: aqua;
  border-radius: 999px;
}

.cg-scrollbar-handle {
  z-index: 90;
  position: relative;
  width: 100%;
  height: 50;
  background-color: red;
  border-radius: 999px;
  cursor: grab;
}

.inherit-max-height {
  max-height: inherit;
}

#cg-scrollable-grabbed-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visualHeight);
  cursor: grabbing;
}