.desktop-layout {
  .ai-assistant-view {
    @apply h-full mx-auto px-4;
    width: 100%;
    display: grid;
    grid-template-columns: [start dialog-start] auto [dialog-end dialog-list-start] 280px [dialog-list-end end];
    grid-template-rows: [start] min(100%, 100vh) [end];

    .ai-assistant-dialog-list-scrollable {
      grid-column: dialog-list-start / dialog-list-end;
      grid-row: start / end;
    }
  }
}  

.mobile-layout {
  .ai-assistant-view {
    @apply h-full;
    display: grid;
    grid-template-columns: [start dialog-start dialog-list-start] 1fr [dialog-end dialog-list-end end];
    grid-template-rows: [start] min(100%, 100vh) [end];
  }
}

.ai-assistant-dialog-list-scrollable {
  @apply rounded-md mt-4 mx-auto;

  .ai-assistant-dialog-list {
    @apply flex flex-col gap-2 p-4;
  }
}