@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;600&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url('../public/fonts/Inter-Bold.ttf');
  font-weight: 600;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-default;
  font-weight: 400;
  font-style: normal;
  background: var(--bgColor);
}

#user-settings-root {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
}

#modal-root-anchor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
}

input,
textarea {
  @apply text-black;
}

label {
  @apply block;

  span {
    @apply block text-sm;
  }
}

svg {
  @apply inline-block;
}

h1 {
  @apply cg-heading-1;
}

h2 {
  @apply cg-heading-2;
}

h3 {
  @apply cg-heading-3;
}

h4 {
  @apply cg-heading-4;
}

h5 {
  @apply cg-heading-5;
}

.cg-separator {
  @apply w-full;
  border-top: solid 1px var(--border-divider);
}

.cg-separator-empty {
  border: solid 1px var(--border-divider);
}

.cg-separator-vertical {
  border-left: solid 1px var(--border-divider);
}

.cg-text-main {
  color: var(--text-primary);
}

.cg-text-secondary {
  color: var(--text-secondary);
}

.cg-text-error {
  color: var(--errorColor) !important;
}

.cg-text-success {
  color: var(--successColor);
}

.cg-text-warning {
  color: var(--colours-warning-500);
}

.cg-text-spark {
  color: var(--text-spark);
}

.cg-text-brand {
  color: var(--surface-brand);
}

.cg-text-monospace {
  font-family: "Geist Mono";
}

.cg-simple-hoverable {
  &:hover {
    background: var(--surface-subtleoverlay);
  }
}

.cg-highlight-text {
  color: var(--text-highlight);
}

.cg-hoverable-w-bg {
  background: var(--surface-buttons-secondary);

  &:hover {
    background: var(--surface-buttons-secondary-hover);
  }
}

.cg-circular {
  border-radius: 500px;
}

.cg-bg-subtle {
  background-color: var(--surface-subtleoverlay, rgba(212, 213, 216, 0.03));
}

.cg-bg-2nd {
  background-color: var(--surface-background-2nd, rgba(212, 213, 216, 0.03));
}

.cg-bg-subtle-active {
  background-color: var(--surface-subtleactive, rgba(212, 213, 216, 0.03));
}

.cg-bg-brand-subtle {
  background-color: rgba(68, 156, 218, 0.10);
}

.cg-bg-success {
  background-color: var(--surface-success);
}

.cg-border-subtle {
  border: 1px solid var(--border-subtle);
}

.cg-border-secondary {
  border: 1px solid var(--border-secondary);
}

.cg-border-brand {
  border: 1px solid var(--border-brand);
}

.cg-border-panels {
  border: 1px solid var(--border-panels, #FFF);
}

.cg-simple-container {
  border: 1px solid var(--border-secondary, #3C425E);

  &.w-item-borders {
    > *:not(:last-child) {
      border-bottom: 1px solid var(--border-secondary, #3C425E);
    }
  }
}

.cg-content-stack {
  border: 1px solid var(--border-panels, #FFF);
  background: var(--surface-background-2nd, #F7F7F7);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 4px 0px rgba(0, 0, 0, 0.06);
}

.cg-content-stack-subtle {
  border: 1px solid var(--border-panels, #FFF);
  background: var(--surface-subtleoverlay);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 4px 0px rgba(0, 0, 0, 0.06);
}

wcm-modal {
  z-index: 10100;
  position: absolute;
}

.skeleton-box {
  @apply relative inline-block overflow-hidden;
  background-color: #DDDBDD;

  &::after {
    @apply absolute top-0 right-0 bottom-0 left-0;

    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(64, 64, 64, 0) 0, rgba(64, 64, 64, 0.2) 20%, rgba(64, 64, 64, 0.5) 60%, rgba(64, 64, 64, 0));
    animation: shimmer 2s infinite;
    -webkit-animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes popping {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes popping-subtle {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes showing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hiding {
  from {
    opacity: 1;
    display: flex;
  }

  to {
    opacity: 0;
    display: none;
  }
}

body {
  --text-full-white: #ECEDF8;
  --text-full-black: var(--colours-dark-950);
  --text-highlight: var(--surface-buttons-primary);

  .cg-text-white {
    color: var(--text-full-white);
  }

  .cg-text-black {
    color: var(--text-full-black);
  }

  /* FIXME: Remove these after color refactor */
  --colours-warning-950: #190F00;
  --colours-warning-900: #331E00;
  --colours-warning-800: #663C00;
  --colours-warning-700: #945600;
  --colours-warning-600: #C77400;
  --colours-warning-500: #F99100;
  --colours-overlays-orange-transparency-15: #F9910026;
  --colours-warning-400: #FFA82E;
  --colours-warning-300: #FFBD61;
  --colours-warning-200: #FFD599;
  --colours-warning-100: #FFEACC;
  --colours-warning-50: #FFF4E5;
  --colours-success-950: #01130C;
  --colours-success-900: #022717;
  --colours-success-800: #04492C;
  --colours-success-700: #067044;
  --colours-success-600: #079258;
  --colours-success-500: #09B76E;
  --colours-success-400: #0CF393;
  --colours-success-300: #4BF6AF;
  --colours-success-200: #85F9C9;
  --colours-success-100: #C5FCE5;
  --colours-success-50: #E2FEF2;
  --colours-info-950: #000E14;
  --colours-info-900: #001B29;
  --colours-info-800: #003A57;
  --colours-info-700: #005580;
  --colours-info-600: #0074AD;
  --colours-info-500: #008ED6;
  --colours-info-400: #14B1FF;
  --colours-info-300: #4DC3FF;
  --colours-info-200: #8AD8FF;
  --colours-info-100: #E0F5FF;
  --colours-info-50: #E0F5FF;
  --colours-error-950: #160304;
  --colours-error-900: #2C0708;
  --colours-error-800: #540D0F;
  --colours-error-700: #801418;
  --colours-error-600: #A81A1F;
  --colours-error-500: #D32127;
  --colours-error-400: #E2464B;
  --colours-error-300: #EA767A;
  --colours-error-200: #F1A2A5;
  --colours-error-100: #F8D3D4;
  --colours-error-50: #FCE9EA;
  --colours-dark-950: #161820;
  --colours-dark-900: #222430;
  --colours-dark-800: #262937;
  --colours-dark-700: #3D415A;
  --colours-dark-600: #555A78;
  --colours-dark-500: #666C90;
  --colours-dark-400: #7C81A2;
  --colours-dark-300: #9498B3;
  --colours-dark-200: #ACAFC4;
  --colours-dark-100: #C4C6D5;
  --colours-dark-50: #E4E5F0;
  --colours-light-950: #181818;
  --colours-light-900: #252525;
  --colours-light-800: #3E3E3E;
  --colours-light-700: #585858;
  --colours-light-600: #717171;
  --colours-light-500: #9A9A9A;
  --colours-light-400: #B5B5B5;
  --colours-light-300: #DBDBDB;
  --colours-light-200: #E6E6E6;
  --colours-light-100: #F1F1F1;
  --colours-light-50: #F6F6F6;
  --colours-brand-950: #223049;
  --colours-brand-900: #314C77;
  --colours-overlays-brand-transparency-15: #314C7726;
  --colours-brand-800: #375A96;
  --colours-brand-700: #4072BE;
  --colours-brand-600: #4881C8;
  --colours-brand-500: #5C9AD5;
  --colours-brand-400: #7BB5DF;
  --colours-brand-300: #A6CFEA;
  --colours-brand-200: #CAE2F3;
  --colours-brand-100: #E1EEF8;
  --colours-overlays-brand-transparency-25: #314C773F;
  --colours-overlays-brand-transparency-35: #314C7759;
  --colours-brand-50: #F2F7FC;
  --colours-overlays-white-transparency-3: #FFFFFF07;
  --colours-special-light-green: #E9EDF6;
  --colours-special-dark-blue: #242A4D;
  --colours-overlays-white-transparency-10: #FFFFFF19;
  --colours-overlays-white-transparency-15: #FFFFFF26;
  --colours-overlays-white-transparency-30: #FFFFFF4C;
  --colours-overlays-white-transparency-75: #FFFFFFBF;
  --colours-overlays-black-transparency-3: #00000007;
  --colours-special-beige: #F2F1E5;
  --colours-special-lightblue: #E1E3FC;
  --colours-overlays-black-transparency-10: #00000019;
  --colours-overlays-black-transparency-15: #00000026;
  --colours-overlays-black-transparency-30: #0000004C;
  --colours-overlays-black-transparency-40: #00000066;
  --colours-overlays-black-transparency-75: #000000BF;
  --colours-integrations-fuel: #00F58C;
  --colours-integrations-lukso: #E9335E;
  --colours-integrations-aeternity: #DE3F6B;
  --colours-integrations-fuel-brand-dark: #087A44;
  --colours-integrations-fuel-brand-light: #77F7A5;
  --colours-integrations-encode: #132653;
  --colours-integrations-encode-brand-dark: #0E1D3F;
  --colours-integrations-encode-brand-light: #32436B;
  --spark-bright: #FFC934;
  --spark-burn: #E97018;
}

body.light {
  /* FIXME: Change values after color refactor */
  --text-warning: var(--colours-warning-700);
  --text-warning-moderation: var(--colours-warning-500);
  --text-text-off: var(--colours-error-500);
  --text-success: var(--colours-success-600);
  --text-spark: var(--spark-burn);
  --text-secondary: var(--colours-light-600);
  --text-primary: var(--colours-light-950);
  --text-link: var(--colours-info-500);
  --text-inverted: var(--colours-light-100);
  --text-integrations-lukso: var(--colours-integrations-lukso);
  --text-integrations-lukso-brand-dark: #81002D;
  --text-integrations-fuelshaded: var(--colours-integrations-fuel-brand-dark);
  --text-integrations-fuel: var(--colours-integrations-fuel);
  --text-integrations-fuel-brand-dark: #004225;
  --text-integrations-encode: var(--colours-integrations-encode);
  --text-integrations-encode-brand-light: var(--colours-integrations-encode-brand-light);
  --text-integrations-encode-brand-dark: var(--colours-integrations-encode-brand-dark);
  --text-integrations-aeternity: var(--colours-integrations-aeternity);
  --text-info: var(--colours-info-600);
  --text-full-white: var(--colours-light-50);
  --text-full-black: var(--colours-dark-950);
  --text-disabled: var(--colours-brand-400);
  --text-button-primary: var(--text-full-white);
  --text-active: var(--colours-brand-800);
  --surface-warning: var(--colours-warning-50);
  --surface-warning-moderation: var(--colours-warning-800);
  --surface-warn-background: var(--colours-overlays-orange-transparency-15);
  --surface-unread: var(--colours-light-950);
  --surface-success: var(--colours-success-100);
  --surface-subtleoverlay: var(--colours-overlays-black-transparency-3);
  --surface-subtleactive: var(--colours-overlays-brand-transparency-15);
  --surface-subtleactive-hover: var(--colours-overlays-brand-transparency-25);
  --surface-popover: var(--colours-light-50);
  --surface-own-message: var(--colours-special-light-green);
  --surface-overlay: var(--colours-overlays-black-transparency-15);
  --surface-inverted: var(--colours-light-950);
  --surface-input: var(--colours-overlays-black-transparency-3);
  --surface-input-hover: var(--colours-overlays-black-transparency-10);
  --surface-info: var(--colours-info-100);
  --surface-hover: var(--colours-overlays-black-transparency-10);
  --surface-global-background: var(--colours-light-100);
  --surface-dark-overlay: var(--colours-overlays-black-transparency-3);
  --surface-buttons-secondary: var(--colours-overlays-black-transparency-3);
  --surface-buttons-secondary-hover: var(--colours-overlays-black-transparency-10);
  --surface-buttons-primary: var(--colours-brand-500);
  --surface-buttons-primary-hover: var(--colours-brand-600);
  --surface-buttons-off: var(--colours-error-100);
  --surface-buttons-off-hover: var(--colours-error-200);
  --surface-buttons-disabled: var(--colours-brand-300);
  --surface-buttoninactive: var(--colours-brand-200);
  --surface-buttonactive: var(--colours-light-950);
  --surface-brand: var(--colours-brand-700);
  --surface-brand-dark: var(--colours-brand-950);
  --surface-brand-special: var(--colours-special-beige);
  --surface-brand-secondary: var(--colours-brand-100);
  --surface-background-3rd: var(--colours-light-50);
  --surface-background-2nd: var(--colours-light-50);
  --corners-corner-parent: var(--cornerradius-lg);
  --corners-corner-child: var(--cornerradius-md);
  --corners-corner-button: var(--cornerradius-button);
  --border-subtle: var(--colours-overlays-black-transparency-3);
  --border-secondary: var(--colours-light-200);
  --border-secondary-hover: var(--colours-light-500);
  --border-primary: var(--colours-light-500);
  --border-primary-hover: var(--colours-light-600);
  --border-icon: var(--colours-light-950);
  --border-highlight: var(--colours-brand-500);
  --border-full-black: var(--colours-light-950);
  --border-fuel: var(--colours-integrations-fuel-brand-light);
  --border-divider: var(--colours-overlays-black-transparency-10);
  --border-brand: var(--colours-brand-500);
  --border-active: var(--colours-light-950);
  --border-panels: #FFF;

  /* background */
  --bgColor: theme('colors.palette.light.500');

  /* General */
  --linkColor: theme('colors.palette.brand.500');
  --linkBorderColor: theme('colors.palette.brand500Transparent');
  --verifiedBg: theme('colors.palette.brand.500');
  --hr: theme('colors.palette.light.600');
  --spinner: theme('colors.palette.brand.500');
  --transparent: theme('colors.palette.transparent');
  --darkTransparent: theme('colors.palette.darkTransparent');
  --darkTransparentHover: theme('colors.palette.darkTransparentHover');
  --brandLightTransparent: theme('colors.palette.brand500LightTransparent');
  --brandTransparent: theme('colors.palette.brand500Transparent');
  --imageBg: theme('colors.palette.light.600');
  --imageBgHover: theme('colors.palette.light.500');
  --jdenticonBorder: theme('colors.palette.light.50');
  --successColor: theme('colors.palette.success.500');
  --successBg: theme('colors.palette.success.200');
  --warningColor: theme('colors.palette.warning.500');
  --warningBg: theme('colors.palette.warning.100');
  --errorColor: theme('colors.palette.error.500');
  --errorBg: theme('colors.palette.error.200');
  --transparentWeak: rgba(255, 255, 255, 0.3);

  /* experimental pie menu */
  --pieMenuBg: theme('colors.palette.brand.700');

  /* banner */
  --bannerBg: theme('colors.palette.brand.50');
  --bannerText: theme('colors.palette.brand.500');

  /* sidebar */
  --sidebarLogo: theme('colors.palette.brand.500');
  --sidebarBg: var(--bgColor);
  --sidebarBorder: none;
  --sidebarText: theme('colors.palette.light.950');
  --sidebarButtonHover: theme('colors.palette.light.600');

  --audioWidgetBg: var(--cardBg);
  --audioWidgetBorder: var(--cardBorder);
  --audioWidgetTextMain: var(--cardTextMain);
  --audioWidgetTextSecondary: var(--cardTextSecondary);
  --audioWidgetHoverBg: var(--cardBgHover);
  --audioWidgetHoverBorder: var(--cardSubBg);

  /* Audio widget */
  --audioActiveBg: var(--audioWidgetBg);
  --audioActiveBorder: var(--audioWidgetBorder);
  --audioInactiveBg: theme('colors.palette.transparent');
  --audioInactiveBorder: var(--audioWidgetBorder);

  /* cards and content */
  --headerText: theme('colors.palette.light.950');
  --cardBg: theme('colors.palette.light.100');
  --cardBgHover: var(--surface-hover);
  --cardBorder: theme('colors.palette.light.600');
  --cardTextMain: theme('colors.palette.light.950');
  --cardTextSecondary: theme('colors.palette.light.800');
  --cardSubBg: theme('colors.palette.brand.50');
  --cardSubBgHover: theme('colors.palette.brand.100');
  --cardSubText: theme('colors.palette.brand.500');
  --cardSubTextSecondary: theme('colors.palette.brand.300');
  --cardVerifiedText: theme('colors.palette.brand.500');

  --cardSelectedBg: var(--surface-subtleactive);
  --cardSelectedText: var(--text-primary);
  --cardSelectedTextSecondary: var(--text-secondary)
    /* Articles */
    --articleHeader: theme('colors.palette.light.950');
  --articleText: theme('colors.palette.light.900');

  /* Community cards */
  --communityCardBg: theme('colors.palette.light.50');
  --communityCardBgHover: theme('colors.palette.light.100');
  --communityCardBorder: theme('colors.palette.light.100');
  --communityCardTextMain: theme('colors.palette.light.950');

  /* Modal */
  --modalBg: theme('colors.palette.light.100');
  --modalHeaderBg: theme('colors.palette.light.200');
  --modalText: theme('colors.palette.light.950');
  --modalSecondary: theme('colors.palette.light.700');

  /* Communities */
  --communitiesContainerBg: theme('colors.palette.light.500');
  --communitiesContainerBorder: solid 1px theme('colors.palette.light.600');
  --communitiesContainerTitle: theme('colors.palette.light.950');
  --communitiesContainerCount: theme('colors.palette.light.700');
  --communitySidebarTitle: theme('colors.palette.light.100');
  --communityDefaultImageBg: transparent;

  /* logos */
  --logoMenuItemHoverBorder: theme('colors.palette.light.500');
  --logoMenuItemActiveBorder: theme('colors.palette.brand.500');

  /* breadcrumb */
  --breadcrumbBg: transparent;
  --breadcrumbBgHover: theme('colors.palette.transparent');
  --breadcrumbText: theme('colors.palette.brand.500');
  --breadcrumbPastText: theme('colors.palette.light.700');

  /* inputs */
  --inputBg: theme('colors.palette.light.600');
  --inputText: theme('colors.palette.light.950');
  --inputPlaceholder: theme('colors.palette.light.700');
  --inputBorder: transparent;
  --inputHoverBg: theme('colors.palette.light.400');
  --inputHoverText: theme('colors.palette.light.950');
  --inputHoverBorder: theme('colors.palette.light.600');
  --inputHoverPlaceholder: theme('colors.palette.light.700');
  --inputFocusedBg: theme('colors.palette.light.50');
  --inputFocusedText: theme('colors.palette.light.950');
  --inputFocusedBorder: theme('colors.palette.brand.400');
  --inputSubLabel: theme('colors.palette.light.700');

  --chatInputBg: theme('colors.palette.light.100');
  --chatInputBorder: theme('colors.palette.light.600');
  --chatInputButton: theme('colors.palette.brand.500');
  --chatInputButtonHoverBg: theme('colors.palette.brand.100');
  --chatInputPlaceholder: var(--text-secondary);

  --toggleBg: theme('colors.palette.light.600');
  --toggleColor: theme('colors.palette.light.50');
  --toggleActiveColor: theme('colors.palette.light.50');

  /* dropdowns */
  --dropdownBg: theme('colors.palette.light.100');
  --dropdownBorder: solid 1px theme('colors.palette.light.600');
  --dropdownTitle: theme('colors.palette.light.900');
  --dropdownTitleBorder: theme('colors.palette.transparent');
  --dropdownPrimaryText: theme('colors.palette.light.900');
  --dropdownSubtitle: theme('colors.palette.light.700');
  --dropdownSecondaryText: theme('colors.palette.light.900');
  --dropdownHoverBg: theme('colors.palette.light.600');
  --dropdownDisabledText: theme('colors.palette.light.700');

  /* tooltips */
  --tooltipBg: #F6F6F6;
  --tooltipSimpleBg: theme('colors.palette.light.50');
  --tooltipSimpleBorder: theme('colors.palette.light.200');
  --tooltipBorder: theme('colors.palette.light.50');
  --tooltipText: theme('colors.palette.light.950');
  --tooltipSimpleText: theme('colors.palette.light.900');

  /* icons */
  --iconPrimary: theme('colors.palette.light.950');
  --iconSecondary: theme('colors.palette.light.700');

  /* Message */
  --messageBg: theme('colors.palette.brand.100');
  --messageText: theme('colors.palette.light.950');
  --messageDate: theme('colors.palette.light.700');
  --messageDateBorder: theme('colors.palette.light.600');
  --messageSelfBg: theme('colors.palette.brand.500');
  --messageSelfText: theme('colors.palette.light.100');
  --messageSelfDate: theme('colors.palette.brand.200');
  --messageSelfTextUnderline: theme('colors.palette.light.600');
  --messageHoverBg: theme('colors.palette.brand.100');
  --messageSelfHoverBg: theme('colors.palette.brand.600');
  --messageMention: theme('colors.palette.brand.500');
  --messageScrollInner: theme('colors.palette.brand.400');

  /* Empty state */
  --emptyStateColor: theme('colors.palette.brand.500');
  --emptyStateBorder: theme('colors.palette.brand.400');

  /* tags */
  --tagDefaultBg: var(--surface-subtleoverlay);
  --tagDefaultBgHover: theme('colors.palette.brand500Transparent');
  --tagDefaultBorder: theme('colors.palette.transparent');
  --tagDefaultText: theme('colors.palette.light.950');
  --tagDefaultIcon: theme('colors.palette.light.700');

  --tagWarningBg: theme('colors.palette.warning.100');
  --tagWarningBgHover: theme('colors.palette.warning.200');
  --tagWarningBorder: theme('colors.palette.warning.100');
  --tagWarningText: theme('colors.palette.warning.500');
  --tagWarningIcon: theme('colors.palette.warning.500');

  --tagSafeBg: theme('colors.palette.success.100');
  --tagSafeBgHover: theme('colors.palette.success.200');
  --tagSafeBorder: theme('colors.palette.success.100');
  --tagSafeText: theme('colors.palette.success.500');
  --tagSafeIcon: theme('colors.palette.success.500');

  --tagSuccessBg: theme('colors.palette.success.100');
  --tagSuccessBgHover: theme('colors.palette.success.200');
  --tagSuccessBorder: theme('colors.palette.success.100');
  --tagSuccessText: theme('colors.palette.success.500');
  --tagSuccessIcon: theme('colors.palette.success.500');

  --tagErrorBg: theme('colors.palette.error.100');
  --tagErrorBgHover: theme('colors.palette.error.200');
  --tagErrorBorder: theme('colors.palette.error.100');
  --tagErrorText: theme('colors.palette.error.500');
  --tagErrorIcon: theme('colors.palette.error.500');

  --tagInfoBg: theme('colors.palette.brand.100');
  --tagInfoBgHover: theme('colors.palette.brand.200');
  --tagInfoBorder: theme('colors.palette.brand.100');
  --tagInfoText: theme('colors.palette.brand.500');
  --tagInfoIcon: theme('colors.palette.brand.500');

  --tagHelpBg: theme('colors.palette.brand.500');
  --tagHelpBgHover: theme('colors.palette.brand.500');
  --tagHelpBorder: theme('colors.palette.brand.500');
  --tagHelpText: theme('colors.palette.brand.100');
  --tagHelpIcon: theme('colors.palette.brand.100');

  /* reaction item */
  --reactionItemBg: var(--cardBg);
  --reactionItemText: theme('colors.palette.light.950');
  --reactionItemHoverText: theme('colors.palette.light.950');
  --reactionItemHoverBorder: theme('colors.palette.light.500');
  --reactionItemFocusText: theme('colors.palette.brand.500');
  --reactionItemFocusBorder: theme('colors.palette.brand.500');

  /* Attachment */
  --attachmentImageBg: theme('colors.palette.transparent');
  --attachmentImageLoadingOverlay: rgba(0, 0, 0, 0.5);
  --attachmentCloseButtonBg: theme('colors.palette.light.300');
  --attachmentHoverBorder: theme('colors.palette.light.600');
  --attachmentHoverBorderError: theme('colors.palette.error.400');

  /* Notification Message */
  --notificationMessageTitle: var(--cardTextMain);
  --notificationMessageType: var(--cardTextSecondary);
  --notificationMessageText: var(--cardTextMain);
  --notificationMessageBgHover: var(--cardBgHover);
  --notificationMessageBgSelected: var(--cardSelectedBg);

  /* Notification Count */
  --notificationCountText: theme('colors.palette.light.600');
  --notificationCountBg: var(--text-primary);

  /* Conversation Element */
  --dmCardText: var(--cardTextMain);
  --dmCardTimestamp: var(--cardTextSecondary);
  --dmCardBg: var(--cardBg);
  --dmCardHoverBg: var(--cardBgHover);
  --dmCardActiveBg: var(--cardSelectedBg);
  --dmCardNotificationBorder: theme('colors.palette.brand.500');

  /***** Buttons ******/
  /* primary */
  --btnPrimaryBg: #404BBB;
  --btnPrimaryBoxShadow: 0px -2px 0.75px 0px #A8D5FF inset, 0px 1px 0.7px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #8CBDF8;
  --btnPrimaryText: theme('colors.palette.light.50');

  --btnPrimaryActiveBg: #0F1768;
  --btnPrimaryActiveBoxShadow: 0px 2px 0.75px 0px #A8D5FF inset, 0px -1px 0.7px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #8CBDF8;

  --btnPrimaryFocusBoxShadow: none;
  --btnPrimaryFocusOutline: 2px solid var(--surface-inverted);

  /* secondary */
  --btnSecondaryBg: #636CCA;
  --btnSecondaryBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px rgba(8, 12, 53, 0.50) inset, 0px 2.1px 1.45px 0px rgba(255, 255, 255, 0.24) inset;
  --btnSecondaryText: theme('colors.palette.light.50');

  --btnSecondaryActiveBg: #232C89;
  --btnSecondaryActiveBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px rgba(122, 127, 184, 0.50) inset, 0px 1px 0.7px 1px #181E61 inset;

  --btnSecondaryFocusBoxShadow: none;
  --btnSecondaryFocusOutline: 2px solid #181818;

  /* chip */
  --btnChipBg: transparent;
  --btnChipText: var(--cardTextSecondary);
  --btnChipBorder: 1px solid theme('colors.palette.light.800');
  --btnChipIconLeftPrimary: var(--cardTextSecondary);
  --btnChipIconRightPrimary: var(--cardTextSecondary);

  --btnChipHoverBorder: 1px solid theme('colors.palette.light.700');
  --btnChipFocusBorder: 1px solid theme('colors.palette.light.600');

  /* audio */
  --btnAudioBg: transparent;
  --btnAudioText: var(--cardTextMain);
  --btnAudioBorder: none;
  --btnAudioIconLeftPrimary: var(--cardTextMain);
  --btnAudioIconRightPrimary: var(--cardTextMain);
  --btnAudioIconLeftComplementary: theme('colors.palette.error.400');

  --btnAudioFocusBg: theme('colors.palette.transparent');
  --btnAudioFocusOutline: 2px solid var(--cardTextMain);

  --btnAudioHoverBg: theme('colors.palette.transparent');

  /* admin */
  --btnAdminBg: theme('colors.palette.brand500LightTransparent');
  --btnAdminText: theme('colors.palette.brand.500');
  --btnAdminBorder: 1px solid theme('colors.palette.brand500LightTransparent');
  --btnAdminIconLeftPrimary: theme('colors.palette.brand.500');
  --btnAdminIconRightPrimary: theme('colors.palette.brand.500');

  --btnAdminFocusBg: theme('colors.palette.brand.500');
  --btnAdminFocusBorder: 1px solid theme('colors.palette.brand.500');
  --btnAdminFocusOutline: 2px solid theme('colors.palette.brand.500');

  --btnAdminHoverBg: theme('colors.palette.brand500Transparent');
  --btnAdminHoverBorder: 1px solid theme('colors.palette.brand500Transparent');

  --btnAdminActiveText: theme('colors.palette.light.100');
  --btnAdminActiveIconLeftPrimary: theme('colors.palette.light.100');
  --btnAdminActiveIconRightPrimary: theme('colors.palette.light.100');

  /* Borderless */
  --btnBorderlessBg: transparent;
  --btnBorderlessText: theme('colors.palette.light.800');
  --btnBorderlessBorder: 1px solid var(--transparent);
  --btnBorderlessIconLeftPrimary: theme('colors.palette.light.800');
  --btnBorderlessIconRightPrimary: theme('colors.palette.light.800');

  --btnBorderlessFocusText: theme('colors.palette.light.700');
  --btnBorderlessFocusOutline: 2px solid theme('colors.palette.light.800');

  --btnBorderlessHoverText: theme('colors.palette.light.700');

  --btnBorderlessActiveText: theme('colors.palette.light.700');

  /* text button */
  --btnTextOff: theme('colors.palette.error.500');
  --btnButtonOff: theme('colors.palette.error.100');
  --btnTextualBg: transparent;
  --btnTextualText: var(--text-primary);
  --btnTextualBorder: 2px solid transparent;
  --btnTextualHoverBg: transparent;
  --btnTextualHoverText: var(--text-primary);
  --btnTextualHoverBorder: 2px solid var(--text-primary);
  --btnTextualDisabledBg: transparent;
  --btnTextualDisabledBorder: transparent;

  /* disabled */
  --btnDisabledText: var(--text-secondary);
  --btnDisabledBoxShadow: 0px 0px 0px 1px #090D39;

  /* inactive */
  --btnInactiveBg: theme('colors.palette.light.700');
  --btnInactiveText: theme('colors.palette.light.100');

  /* Menu Button */
  --menuBtnActiveBorder: 2px solid theme('colors.palette.brand.500');
  --menuBtnActiveBg: theme('colors.palette.brand500Transparent');
  --menuBtnActiveIconColor: theme('colors.palette.brand.500');
  --menuBtnNotificationText: theme('colors.palette.light.100');

  /* Menu Button */
  --btnMenuBg: theme('colors.palette.light.800');
  --btnMenuText: theme('colors.palette.light.800');
  --btnMenuBorder: 2px solid transparent;
  --btnMenuIconLeftPrimary: theme('colors.palette.light.800');
  --btnMenuIconRightPrimary: theme('colors.palette.light.800');

  --btnMenuHoverText: theme('colors.palette.light.900');
  --btnMenuHoverBorder: 2px solid theme('colors.palette.brand500Transparent');
  --btnMenuHoverIconLeftPrimary: theme('colors.palette.light.900');
  --btnMenuHoverIconRightPrimary: theme('colors.palette.light.900');

  --btnMenuFocusText: theme('colors.palette.light.950');
  --btnMenuFocusBorder: 2px solid theme('colors.palette.light.950');
  --btnMenuFocusIconLeftPrimary: theme('colors.palette.light.950');
  --btnMenuFocusIconRightPrimary: theme('colors.palette.light.950');
  --btnMenuFocusOutline: 2px solid theme('colors.palette.light.500');

  --btnMenuActiveBg: theme('colors.palette.brand500Transparent');
  --btnMenuActiveText: theme('colors.palette.light.950');
  --btnMenuActiveBorder: 2px solid theme('colors.palette.light.950');
  --btnMenuActiveIconLeftPrimary: theme('colors.palette.light.950');
  --btnMenuActiveIconRightPrimary: theme('colors.palette.light.950');

  /* destructive */
  --btnDestructiveBg: #FFF4E5;
  --btnDestructiveBoxShadow: 0px -2px 0.75px 0px #DA7500 inset, 0px 1px 0.7px 0px #FFF9F1 inset, 0px 0px 0px 1px #B35F00;
  --btnDestructiveText: #945600;

  --btnDestructiveActiveBg: #FADEB7;
  --btnDestructiveActiveBoxShadow: 0px -2px 0.75px 0px #FFFAF4 inset, 0px 1px 0.7px 0px #E58F02 inset, 0px 0px 0px 1px #B35F00;
  ;

  --btnDestructiveFocusBoxShadow: none;
  --btnDestructiveFocusOutline: 2px solid #945600;

  /* final */
  --btnFinalBg: theme('colors.palette.error.400');
  --btnFinalBoxShadow: 0px -2px 0.75px 0px rgba(114, 39, 39, 0.50) inset, 0px 1px 0.699999988079071px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #090D39;
  --btnFinalText: var(--btnPrimaryText);

  --btnFinalActiveBg: theme('colors.palette.error.600');
  --btnFinalActiveBoxShadow: 0px 2px 0.75px 0px rgba(114, 39, 39, 0.50) inset, 0px -1px 0.699999988079071px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #090D39;

  --btnFinalFocusBoxShadow: none;
  --btnFinalFocusOutline: var(--btnPrimaryFocusOutline);
}

body.dark {
  /* FIXME: Change values after color refactor */
  --text-warning: var(--colours-warning-500);
  --text-warning-moderation: var(--colours-warning-500);
  --text-text-off: var(--colours-error-100);
  --text-success: var(--colours-success-400);
  --text-spark: var(--spark-bright);
  --text-secondary: var(--colours-dark-300);
  --text-primary: var(--colours-dark-50);
  --text-link: var(--colours-info-300);
  --text-inverted: var(--colours-dark-900);
  --text-integrations-lukso: var(--colours-integrations-lukso);
  --text-integrations-lukso-brand-dark: #81002D;
  --text-integrations-fuelshaded: var(--colours-integrations-fuel-brand-dark);
  --text-integrations-fuel: var(--colours-integrations-fuel);
  --text-integrations-fuel-brand-dark: #004225;
  --text-integrations-encode: var(--colours-integrations-encode);
  --text-integrations-encode-brand-light: var(--colours-integrations-encode-brand-light);
  --text-integrations-encode-brand-dark: var(--colours-integrations-encode-brand-dark);
  --text-integrations-aeternity: var(--colours-integrations-aeternity);
  --text-info: var(--colours-info-400);
  --text-full-white: var(--colours-light-50);
  --text-full-black: var(--colours-dark-950);
  --text-disabled: var(--colours-brand-400);
  --text-button-primary: var(--text-full-white);
  --text-active: var(--colours-brand-400);
  --surface-warning: var(--colours-warning-900);
  --surface-warning-moderation: var(--colours-warning-800);
  --surface-warn-background: var(--colours-overlays-orange-transparency-15);
  --surface-unread: var(--colours-dark-50);
  --surface-success: var(--colours-success-900);
  --surface-subtleoverlay: var(--colours-overlays-white-transparency-3);
  --surface-subtleactive: var(--colours-overlays-brand-transparency-25);
  --surface-subtleactive-hover: var(--colours-overlays-brand-transparency-35);
  --surface-popover: var(--colours-dark-950);
  --surface-own-message: var(--colours-special-dark-blue);
  --surface-overlay: var(--colours-overlays-white-transparency-15);
  --surface-inverted: var(--colours-dark-50);
  --surface-input: var(--colours-overlays-black-transparency-30);
  --surface-input-hover: var(--colours-overlays-black-transparency-40);
  --surface-info: var(--colours-info-900);
  --surface-hover: var(--colours-overlays-white-transparency-10);
  --surface-global-background: var(--colours-dark-950);
  --surface-dark-overlay: var(--colours-overlays-black-transparency-30);
  --surface-buttons-secondary: var(--colours-overlays-white-transparency-3);
  --surface-buttons-secondary-hover: var(--colours-overlays-white-transparency-10);
  --surface-buttons-primary: var(--colours-brand-500);
  --surface-buttons-primary-hover: var(--colours-brand-400);
  --surface-buttons-off: var(--colours-error-300);
  --surface-buttons-off-hover: var(--colours-error-400);
  --surface-buttons-disabled: var(--colours-brand-300);
  --surface-buttoninactive: var(--colours-brand-950);
  --surface-buttonactive: var(--colours-dark-50);
  --surface-brand: var(--colours-brand-400);
  --surface-brand-dark: var(--colours-brand-800);
  --surface-brand-special: var(--colours-special-lightblue);
  --surface-brand-secondary: var(--colours-brand-700);
  --surface-background-3rd: var(--colours-dark-800);
  --surface-background-2nd: var(--colours-dark-900);
  --corners-corner-parent: var(--cornerradius-lg);
  --corners-corner-child: var(--cornerradius-md);
  --corners-corner-button: var(--cornerradius-button);
  --border-subtle: var(--colours-overlays-white-transparency-3);
  --border-secondary: var(--colours-dark-700);
  --border-secondary-hover: var(--colours-dark-600);
  --border-primary: var(--colours-dark-600);
  --border-primary-hover: var(--colours-dark-500);
  --border-icon: var(--colours-dark-50);
  --border-highlight: var(--colours-brand-300);
  --border-full-black: var(--colours-dark-950);
  --border-fuel: var(--colours-integrations-fuel-brand-dark);
  --border-divider: var(--colours-overlays-white-transparency-10);
  --border-brand: var(--colours-brand-500);
  --border-active: var(--colours-dark-50);
  --border-panels: var(--surface-background-3rd);

  /* background */
  --bgColor: theme('colors.palette.dark.500');

  /* General */
  --linkColor: theme('colors.palette.brand.400');
  --linkBorderColor: theme('colors.palette.brand500Transparent');
  --verifiedBg: theme('colors.palette.brand.400');
  --hr: theme('colors.palette.dark.300');
  --spinner: theme('colors.palette.brand.400');
  --transparent: theme('colors.palette.transparent');
  --darkTransparent: theme('colors.palette.darkTransparent');
  --darkTransparentHover: theme('colors.palette.darkTransparentHover');
  --brandLightTransparent: theme('colors.palette.brand500LightTransparent');
  --brandTransparent: theme('colors.palette.brand500Transparent');
  --imageBg: theme('colors.palette.dark.700');
  --imageBgHover: theme('colors.palette.dark.600');
  --jdenticonBorder: theme('colors.palette.dark.50');
  --successColor: theme('colors.palette.success.500');
  --successBg: theme('colors.palette.success.200');
  --warningColor: theme('colors.palette.warning.500');
  --warningBg: theme('colors.palette.warning.100');
  --errorColor: theme('colors.palette.error.500');
  --errorBg: theme('colors.palette.error.200');
  --transparentWeak: rgba(0, 0, 0, 0.3);

  /* experimental pie menu */
  --pieMenuBg: theme('colors.palette.brand.900');

  /* banner */
  --bannerBg: var(--surface-subtleoverlay);
  --bannerText: var(--text-primary);

  /* sidebar */
  --sidebarLogo: theme('colors.palette.dark.50');
  --sidebarBg: var(--surface-global-background);
  --sidebarBorder: none;
  --sidebarText: theme('colors.palette.dark.50');
  --sidebarButtonHover: theme('colors.palette.dark.300');

  --audioWidgetBg: var(--cardBg);
  --audioWidgetBorder: var(--cardBorder);
  --audioWidgetTextMain: var(--cardTextMain);
  --audioWidgetTextSecondary: var(--cardTextSecondary);
  --audioWidgetHoverBg: var(--cardBgHover);
  --audioWidgetHoverBorder: var(--cardSubBg);

  /* Audio widget */
  --audioActiveBg: var(--audioWidgetBg);
  --audioActiveBorder: var(--audioWidgetBorder);
  --audioInactiveBg: theme('colors.palette.transparent');
  --audioInactiveBorder: var(--audioWidgetBorder);

  /* cards and content */
  --headerText: theme('colors.palette.dark.50');
  --cardBg: theme('colors.palette.dark.400');
  --cardBgHover: var(--surface-hover);
  --cardBorder: theme('colors.palette.dark.300');
  --cardTextMain: theme('colors.palette.dark.50');
  --cardTextSecondary: theme('colors.palette.dark.200');
  --cardSubBg: theme('colors.palette.dark.300');
  --cardSubBgHover: theme('colors.palette.dark.200');
  --cardSubText: theme('colors.palette.dark.50');
  --cardSubTextSecondary: theme('colors.palette.brand.200');
  --cardVerifiedText: theme('colors.palette.dark.50');

  --cardSelectedBg: var(--surface-subtleactive);
  --cardSelectedText: var(--text-primary);
  --cardSelectedTextSecondary: var(--text-secondary);

  --audioWidgetBg: var(--cardBg);
  --audioWidgetBorder: var(--cardBorder);
  --audioWidgetTextMain: var(--cardTextMain);
  --audioWidgetTextSecondary: var(--cardTextSecondary);
  --audioWidgetHoverBg: var(--cardBgHover);
  --audioWidgetHoverBorder: var(--cardSubBg);

  /* Audio widget */
  --audioActiveBg: var(--audioWidgetBg);
  --audioActiveBorder: var(--audioWidgetBorder);
  --audioInactiveBg: theme('colors.palette.transparent');
  --audioInactiveBorder: var(--audioWidgetBorder);

  /* Articles */
  --articleHeader: theme('colors.palette.dark.50');
  --articleText: theme('colors.palette.dark.100');

  /* Community cards */
  --communityCardBg: theme('colors.palette.dark.400');
  --communityCardBgHover: theme('colors.palette.dark.300');
  --communityCardBorder: theme('colors.palette.dark.300');
  --communityCardTextMain: theme('colors.palette.dark.50');

  /* Modal */
  --modalBg: theme('colors.palette.dark.700');
  --modalHeaderBg: theme('colors.palette.dark.800');
  --modalText: theme('colors.palette.dark.50');
  --modalSecondary: theme('colors.palette.light.200');

  /* Communities */
  --communitiesContainerBg: theme('colors.palette.dark.500');
  --communitiesContainerBorder: solid 2px theme('colors.palette.dark.400');
  --communitiesContainerTitle: theme('colors.palette.dark.50');
  --communitiesContainerCount: theme('colors.palette.dark.200');
  --communitySidebarTitle: theme('colors.palette.dark.50');
  --communityDefaultImageBg: transparent;

  /* logos */
  --logoMenuItemHoverBorder: theme('colors.palette.dark.500');
  --logoMenuItemActiveBorder: theme('colors.palette.brand.500');

  /* breadcrumb */
  --breadcrumbBg: transparent;
  --breadcrumbBgHover: theme('colors.palette.transparent');
  --breadcrumbText: theme('colors.palette.dark.100');
  --breadcrumbPastText: theme('colors.palette.dark.200');

  /* inputs */
  --inputBg: theme('colors.palette.dark.600');
  --inputText: theme('colors.palette.dark.50');
  --inputPlaceholder: theme('colors.palette.dark.200');
  --inputBorder: theme('colors.palette.dark.300');
  --inputHoverBg: theme('colors.palette.dark.700');
  --inputHoverText: theme('colors.palette.dark.50');
  --inputHoverBorder: theme('colors.palette.dark.200');
  --inputHoverPlaceholder: theme('colors.palette.dark.200');
  --inputFocusedBg: theme('colors.palette.dark.700');
  --inputFocusedText: theme('colors.palette.dark.50');
  --inputFocusedBorder: theme('colors.palette.brand.300');
  --inputSubLabel: theme('colors.palette.dark.200');

  --chatInputBg: theme('colors.palette.dark.600');
  --chatInputBorder: theme('colors.palette.dark.400');
  --chatInputButton: theme('colors.palette.dark.50');
  --chatInputButtonHoverBg: theme('colors.palette.dark.500');
  --chatInputPlaceholder: var(--text-secondary);

  --toggleBg: theme('colors.palette.dark.300');
  --toggleColor: theme('colors.palette.dark.200');
  --toggleActiveColor: theme('colors.palette.dark.50');

  /* dropdowns */
  --dropdownBg: theme('colors.palette.dark.300');
  --dropdownBorder: solid 1px theme('colors.palette.dark.200');
  --dropdownTitle: theme('colors.palette.dark.50');
  --dropdownTitleBorder: theme('colors.palette.transparent');
  --dropdownPrimaryText: theme('colors.palette.dark.50');
  --dropdownSubtitle: theme('colors.palette.dark.200');
  --dropdownSecondaryText: theme('colors.palette.dark.50');
  --dropdownHoverBg: theme('colors.palette.transparent');
  --dropdownDisabledText: theme('colors.palette.dark.200');

  /* tooltips */
  --tooltipBg: #161820;
  --tooltipSimpleBg: theme('colors.palette.dark.900');
  --tooltipSimpleBorder: theme('colors.palette.dark.800');
  --tooltipBorder: theme('colors.palette.dark.200');
  --tooltipText: theme('colors.palette.dark.100');
  --tooltipSimpleText: theme('colors.palette.dark.200');

  /* icons */
  --iconPrimary: theme('colors.palette.dark.50');
  --iconSecondary: theme('colors.palette.dark.200');

  /* Message */
  --messageBg: theme('colors.palette.dark.400');
  --messageText: theme('colors.palette.light.50');
  --messageDate: theme('colors.palette.dark.200');
  --messageDateBorder: theme('colors.palette.dark.300');
  --messageSelfBg: theme('colors.palette.brand.200');
  --messageSelfText: theme('colors.palette.dark.700');
  --messageSelfDate: theme('colors.palette.dark.300');
  --messageSelfTextUnderline: theme('colors.palette.dark.300');
  --messageHoverBg: theme('colors.palette.dark.300');
  --messageSelfHoverBg: theme('colors.palette.brand.100');
  --messageMention: theme('colors.palette.brand.300');
  --messageScrollInner: theme('colors.palette.brand.400');

  /* Empty state */
  --emptyStateText: theme('colors.palette.dark.200');
  --emptyStateBorder: theme('colors.palette.dark.300');

  /* tags */
  --tagDefaultBg: var(--surface-subtleoverlay);
  --tagDefaultBgHover: theme('colors.palette.brand500Transparent');
  --tagDefaultBorder: theme('colors.palette.transparent');
  --tagDefaultText: theme('colors.palette.dark.50');
  --tagDefaultIcon: theme('colors.palette.dark.200');

  --tagWarningBg: theme('colors.palette.warning.100');
  --tagWarningBgHover: theme('colors.palette.warning.200');
  --tagWarningBorder: theme('colors.palette.warning.100');
  --tagWarningText: theme('colors.palette.warning.500');
  --tagWarningIcon: theme('colors.palette.warning.500');

  --tagSafeBg: theme('colors.palette.success.100');
  --tagSafeBgHover: theme('colors.palette.success.200');
  --tagSafeBorder: theme('colors.palette.success.100');
  --tagSafeText: theme('colors.palette.success.500');
  --tagSafeIcon: theme('colors.palette.success.500');

  --tagSuccessBg: theme('colors.palette.success.100');
  --tagSuccessBgHover: theme('colors.palette.success.200');
  --tagSuccessBorder: theme('colors.palette.success.100');
  --tagSuccessText: theme('colors.palette.success.500');
  --tagSuccessIcon: theme('colors.palette.success.500');

  --tagErrorBg: theme('colors.palette.error.100');
  --tagErrorBgHover: theme('colors.palette.error.200');
  --tagErrorBorder: theme('colors.palette.error.100');
  --tagErrorText: theme('colors.palette.error.500');
  --tagErrorIcon: theme('colors.palette.error.500');

  --tagInfoBg: theme('colors.palette.brand.100');
  --tagInfoBgHover: theme('colors.palette.brand.200');
  --tagInfoBorder: theme('colors.palette.brand.100');
  --tagInfoText: theme('colors.palette.brand.500');
  --tagInfoIcon: theme('colors.palette.brand.500');

  --tagHelpBg: theme('colors.palette.brand.500');
  --tagHelpBgHover: theme('colors.palette.brand.400');
  --tagHelpBorder: theme('colors.palette.brand.500');
  --tagHelpText: var(--cardTextMain);
  --tagHelpIcon: var(--cardTextMain);

  /* reaction item */
  --reactionItemBg: theme('colors.palette.dark.300');
  --reactionItemText: theme('colors.palette.dark.50');
  --reactionItemHoverText: theme('colors.palette.dark.50');
  --reactionItemHoverBorder: theme('colors.palette.dark.200');
  --reactionItemFocusText: theme('colors.palette.dark.50');
  --reactionItemFocusBorder: theme('colors.palette.dark.50');

  /* Attachment */
  --attachmentImageBg: theme('colors.palette.transparent');
  --attachmentImageLoadingOverlay: rgba(0, 0, 0, 0.5);
  --attachmentCloseButtonBg: theme('colors.palette.dark.300');
  --attachmentHoverBorder: theme('colors.palette.dark.200');
  --attachmentHoverBorderError: theme('colors.palette.error.400');

  /* Notification Message */
  --notificationMessageTitle: var(--cardTextMain);
  --notificationMessageType: var(--cardTextSecondary);
  --notificationMessageText: var(--cardTextMain);
  --notificationMessageBgHover: var(--cardBgHover);
  --notificationMessageBgSelected: var(--cardSelectedBg);

  /* Notification Count */
  --notificationCountText: theme('colors.palette.dark.300');
  --notificationCountBg: var(--sidebarText);

  /* Conversation Element */
  --dmCardText: var(--cardTextMain);
  --dmCardTimestamp: var(--cardTextSecondary);
  --dmCardBg: var(--cardBg);
  --dmCardHoverBg: var(--cardBgHover);
  --dmCardActiveBg: var(--cardSelectedBg);
  --dmCardNotificationBorder: theme('colors.palette.brand.500');

  /***** Buttons ******/
  /* primary */
  --btnPrimaryBg: #404BBB;
  --btnPrimaryBoxShadow: 0px -2px 0.75px 0px color(display-p3 0.0079 0.0932 0.1882) inset, 0px 0px 0px 1px color(display-p3 0.074 0.0793 0.0869 / 0.50), 0px 1px 0.7px 1px color(display-p3 0.4656 0.4656 0.4656 / 0.24) inset;
  --btnPrimaryText: theme('colors.palette.dark.50');

  --btnPrimaryActiveBg: #0F1768;
  --btnPrimaryActiveBoxShadow: 0px 2px 0.75px 0px color(display-p3 0.0079 0.0932 0.1882) inset, 0px 0px 0px 1px color(display-p3 0.074 0.0793 0.0869 / 0.50), 0px -1px 0.7px 1px color(display-p3 0.4656 0.4656 0.4656 / 0.24) inset;

  --btnPrimaryFocusBoxShadow: none;
  --btnPrimaryFocusOutline: 2px solid var(--surface-inverted);

  /* secondary */
  --btnSecondaryBg: #272D72;
  --btnSecondaryBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px rgba(8, 12, 53, 0.50) inset, 0px 1px 0.7px 1px #4D539C inset;
  --btnSecondaryText: theme('colors.palette.dark.50');

  --btnSecondaryActiveBg: #161C5A;
  --btnSecondaryActiveBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px rgba(122, 127, 184, 0.50) inset, 0px 1px 0.7px 1px #181E61 inset;

  --btnSecondaryFocusBoxShadow: none;
  --btnSecondaryFocusOutline: 2px solid #ECEDF8;

  /* chip */
  --btnChipBg: transparent;
  --btnChipText: var(--cardSubText);
  --btnChipBorder: 1px solid theme('colors.palette.dark.200');
  --btnChipIconLeftPrimary: var(--cardSubText);
  --btnChipIconRightPrimary: var(--cardSubText);

  --btnChipHoverBorder: 1px solid theme('colors.palette.dark.100');
  --btnChipFocusBorder: 1px solid theme('colors.palette.dark.50');

  /* audio */
  --btnAudioBg: transparent;
  --btnAudioText: theme('colors.palette.dark.50');
  --btnAudioBorder: none;
  --btnAudioIconLeftPrimary: theme('colors.palette.dark.50');
  --btnAudioIconRightPrimary: theme('colors.palette.dark.50');
  --btnAudioIconLeftComplementary: theme('colors.palette.error.400');

  --btnAudioFocusBg: theme('colors.palette.transparent');
  --btnAudioFocusOutline: 2px solid theme('colors.palette.dark.50');

  --btnAudioHoverBg: theme('colors.palette.transparent');

  /* admin */
  --btnAdminBg: theme('colors.palette.brand500LightTransparent');
  --btnAdminText: theme('colors.palette.brand.50');
  --btnAdminBorder: 1px solid theme('colors.palette.brand500LightTransparent');
  --btnAdminIconLeftPrimary: theme('colors.palette.brand.50');
  --btnAdminIconRightPrimary: theme('colors.palette.brand.50');

  --btnAdminFocusBg: theme('colors.palette.brand500LightTransparent');
  --btnAdminFocusBorder: 1px solid theme('colors.palette.brand.50');
  --btnAdminFocusOutline: 2px solid theme('colors.palette.brand.50');

  --btnAdminHoverBg: theme('colors.palette.brand500Transparent');
  --btnAdminHoverBorder: 1px solid theme('colors.palette.brand500Transparent');

  --btnAdminActiveText: theme('colors.palette.brand.50');
  --btnAdminActiveIconLeftPrimary: theme('colors.palette.brand.50');
  --btnAdminActiveIconRightPrimary: theme('colors.palette.brand.50');

  /* Borderless */
  --btnBorderlessBg: transparent;
  --btnBorderlessText: theme('colors.palette.brand.100');
  --btnBorderlessBorder: 1px solid transparent;
  --btnBorderlessIconLeftPrimary: theme('colors.palette.brand.50');
  --btnBorderlessIconRightPrimary: theme('colors.palette.brand.50');

  --btnBorderlessFocusText: theme('colors.palette.brand.50');
  --btnBorderlessFocusOutline: 2px solid theme('colors.palette.brand.50');

  --btnBorderlessHoverText: theme('colors.palette.dark.50');

  --btnBorderlessActiveText: theme('colors.palette.dark.50');

  /* text button */
  --btnTextOff: theme('colors.palette.error.100');
  --btnButtonOff: theme('colors.palette.error.500');
  --btnTextualBg: transparent;
  --btnTextualText: theme('colors.palette.brand.50');
  --btnTextualBorder: 2px solid transparent;
  --btnTextualHoverBg: transparent;
  --btnTextualHoverText: theme('colors.palette.brand.50');
  --btnTextualHoverBorder: 2px solid theme('colors.palette.brand.50');
  --btnTextualDisabledBg: transparent;
  --btnTextualDisabledBorder: transparent;

  /* disabled */
  --btnDisabledText: theme('colors.palette.brand.300');
  --btnDisabledBoxShadow: 0px 0px 0px 1px #090D39;

  /* inactive */
  --btnInactiveBg: theme('colors.palette.dark.700');
  --btnInactiveText: theme('colors.palette.dark.100');

  /* Menu Button */
  --menuBtnActiveBorder: 2px solid theme('colors.palette.brand.500');
  --menuBtnActiveBg: theme('colors.palette.brand500Transparent');
  --menuBtnActiveIconColor: theme('colors.palette.brand.500');
  --menuBtnNotificationText: theme('colors.palette.dark.100');

  /* Menu Button */
  --btnMenuBg: theme('colors.palette.dark.800');
  --btnMenuText: theme('colors.palette.dark.200');
  --btnMenuBorder: 2px solid transparent;
  --btnMenuIconLeftPrimary: theme('colors.palette.dark.200');
  --btnMenuIconRightPrimary: theme('colors.palette.dark.200');

  --btnMenuHoverText: theme('colors.palette.dark.100');
  --btnMenuHoverBorder: 2px solid theme('colors.palette.brand500Transparent');
  --btnMenuHoverIconLeftPrimary: theme('colors.palette.dark.100');
  --btnMenuHoverIconRightPrimary: theme('colors.palette.dark.100');

  --btnMenuFocusText: theme('colors.palette.dark.100');
  --btnMenuFocusBorder: 2px solid theme('colors.palette.dark.100');
  --btnMenuFocusIconLeftPrimary: theme('colors.palette.dark.100');
  --btnMenuFocusIconRightPrimary: theme('colors.palette.dark.100');
  --btnMenuFocusOutline: 2px solid theme('colors.palette.dark.500');

  --btnMenuActiveBg: theme('colors.palette.brand500Transparent');
  --btnMenuActiveText: theme('colors.palette.dark.50');
  --btnMenuActiveBorder: 2px solid theme('colors.palette.dark.50');
  --btnMenuActiveIconLeftPrimary: theme('colors.palette.dark.50');
  --btnMenuActiveIconRightPrimary: theme('colors.palette.dark.50');

  /* destructive */
  --btnDestructiveBg: #331E00;
  --btnDestructiveBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px rgba(8, 12, 53, 0.50) inset, 0px 1px 0.7px 0px #955B0A inset;
  --btnDestructiveText: #F99100;

  --btnDestructiveActiveBg: #331E00;
  --btnDestructiveActiveBoxShadow: 0px 0px 0px 1px #090D39, 0px -2px 0.75px 0px #593707 inset, 0px 1px 0.7px 0px #180F02 inset;

  --btnDestructiveFocusBoxShadow: none;
  --btnDestructiveFocusOutline: 2px solid #F99100;

  /* final */
  --btnFinalBg: theme('colors.palette.error.400');
  --btnFinalBoxShadow: 0px -2px 0.75px 0px rgba(114, 39, 39, 0.50) inset, 0px 1px 0.699999988079071px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #090D39;
  --btnFinalText: var(--btnPrimaryText);

  --btnFinalActiveBg: theme('colors.palette.error.600');
  --btnFinalActiveBoxShadow: 0px 2px 0.75px 0px rgba(114, 39, 39, 0.50) inset, 0px -1px 0.699999988079071px 1px rgba(255, 255, 255, 0.24) inset, 0px 0px 0px 1px #090D39;

  --btnFinalFocusBoxShadow: none;
  --btnFinalFocusOutline: var(--btnPrimaryFocusOutline);
}