.user-onboarding-success {
    @apply flex flex-col items-start self-stretch flex-none order-1 flex-grow-0;

    .success-notification-selector {
        @apply flex flex-col items-start self-stretch p-2 gap-2 flex-none order-none flex-grow-0;

        .collapsable-element > .collapsable-view {
            @apply p-0;
            > .success-newsletter-subscriber {
                @apply flex flex-col items-start self-stretch p-2 pl-11 pt-0 gap-2 flex-none order-1 flex-grow-0;
        
                .hint {
                    @apply flex items-center self-stretch flex-none order-none flex-grow-0;
        
                    color: var(--cardTextSecondary);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
    }
}