.profile-photo-preview {
    @apply flex items-center justify-center relative cursor-pointer;
    background: var(--imageBg);
    width: 100px;
    height: 100px;
    border-radius: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    color: var(--errorColor);
}