.password-field {
    @apply pr-14;

    &.text-hidden {
        text-security: disc;
        -webkit-text-security: disc;
    }
}
.password-field-visibility {
    @apply absolute right-4 cursor-pointer;
    color: var(--cardTextMain);
}