.mobile-layout {
    .swap-account-view {
        @apply p-0 h-full;

        .swap-account {
            @apply px-4;
        }

        .mobile-tray-trigger {
            @apply w-full;
        }
    }
}