.user-socials-link-editor {
  @apply flex flex-col items-start p-2 gap-2 flex-none order-1 flex-grow-0;

  .user-socials-link-editor-links-container {
    @apply flex flex-col gap-2;
    padding: 2px 0;
  }
}

.social-link-icon {
  --iconPrimary: var(--cardTextSecondary);
  --iconSecondary: var(--cardTextSecondary);
  color: var(--cardTextSecondary);

  &:hover {
    --iconPrimary: var(--cardTextMain);
    --iconSecondary: var(--cardTextMain);
  }
}