.ecosystem-chip {
    border-radius: 500px;
    border: 2px solid var(--border-subtle, rgba(25, 27, 38, 0.03));
    color: var(--text-primary);
    transform: all 100ms ease-in-out;

    &:hover {
        background: var(--surface-subtleoverlay, rgba(255, 255, 255, 0.03));
    }

    &:active {
        transform: scale(0.98);
    }

    &.selected {
        color: var(--surface-brand);
        border: 2px solid transparent;
        background: var(--surface-subtleactive, rgba(24, 78, 126, 0.15));

        &:hover {
            background: var(--surface-subtleactive-hover, rgba(24, 78, 126, 0.35));
        }
    }
}
