.post-published-image {
    width: 240px;
    height: 240px;
    border-radius: 21.75px;
    border: 2px solid var(--border-panels, #FFF);

    /* shadow/lg */
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
}