.direct-message-bar {
  @apply mt-4 mx-4 flex justify-center;

  .direct-message-bar-inner {
    @apply flex flex-row items-center justify-start py-1 px-2 box-border flex-none flex-grow-0 order-none w-full;
    background-color: var(--surface-background-2nd);
    border: 1px solid var(--cardBorder);
    border-radius: 6px;
    min-height: 64px;
    max-width: 800px;
    gap: 8px;

    .hexagonal-icon-button {
      @apply flex-grow-0;
    }

    .contact-person {
      @apply flex items-center justify-center flex-none flex-grow gap-2;
  
      font-size: 16px;
      line-height: 24px;
      color: var(--cardTextMain);
  
      .jdenticon {
        @apply w-6 h-6;
        width: 40px;
        height: 40px;
      }
    }
  }
}