.live-call-slider {
    @apply w-full flex flex-row overflow-x-auto items-start gap-0 p-0 flex-none order-none flex-grow-0;

    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    > * {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    &.desktop {
        > * {
            min-width: calc(100% * (1/3));
            max-width: calc(100% * (1/3));
        }
    }

    &.tablet {
        > * {
            min-width: calc(100% * (1/3));
            max-width: calc(100% * (1/3));
        }
    }

    &.smallTablet {
        > * {
            min-width: calc(100% * (1/2));
            max-width: calc(100% * (1/2));
        }
    }
}